#content-404
  .container-404
    img(src=config.logo)
    p.note 404
    h1.title=t('404.not-exists')
    p.goback
      = t('404.go-back-to') + ' '
      a(href='/', title=t('404.back-to-democracyos')) DemocracyOS