#noticias
  display: flex
  justify-content: center
  align-items: center
  .texto-container
    padding: 50px 20px 0
    .topic-article-content
      padding: 0!important
      color: #757575
      font-size: 1.1em
    a.btn
      margin-top: 20px
    h3
      margin-top: 0
      font-size: 24px
      font-weight: 400
      color: #4f5353
  .media-container
    margin-left: 50px
    width: 100%
    iframe
      border: none
    .media-img
      height: 400px
      background-size: contain;
  @media (max-width: 900px)
    flex-direction: column
    .media-container
      margin-left: 0px
      margin-top: 50px
      order: 1
    .texto-container
      order: 2
