/* Vars
-------------------------------------------------- */
header_height = 60px
spacing = 20px

/* Header
-------------------------------------------------- */

.site-content
  z-index 1
  overflow-y scroll
  background white

#content.site-content
  overflow-y auto

header.app-header
  display flex
  align-items center
  justify-content space-between
  position static
  top 0
  left 0
  right 0
  padding 0 20px
  font-weight bold
  text-transform uppercase
  font-size 12px
  height header_height
  min-height header_height
  width 100%

  &.with-contrast
    box-shadow 0 2px 2px #d5d5d5

  a
    color inherit
    &:hover
      color inherit

  #toggleButton
    width 26px
    height 44px
    position static
    padding 10px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block
      background #fff

  h1
    display inline-block
    width auto
    font-size 12px
    margin 0
    .logo
      height 40px
      display inline-block
      margin 0

  img.logo-image
    height 28px
    margin 0

  img.logo-mobile
    display none

  img.logo-desk
    display inline-block
  .user-nav
    position static
    display flex
    align-items center
    float none
    margin 0
    @import './anon-user/styles'
    @import './user-badge/styles'

vendors(prop, args, fn = null)
  val = fn == null ? args : fn + '(' + args + ')'
  -moz-{prop} val
  -webkit-{prop} val
  -o-{prop} val
  -ms-{prop} val
  {prop} val

.headroom
  vendors(transition, all 200ms linear)

.headroom--pinned
  vendors(transform, 0%, translateY)

.headroom--unpinned
  vendors(transform, -100%, translateY)

@media screen and (max-width: 700px)
  header.app-header
    #toggleButton
      display block
    .org-url
      display none!important
    h1#logo
      width 100%
      position absolute
      left 0
      z-index -1
    img.logo
      margin auto
      margin-top -2px
    img.logo-mobile
      display inline-block
    img.logo-desk
      display none
    .logo-link
      display none
