@import './user-badge/styles'

/* Vars
-------------------------------------------------- */
header_height = 60px
spacing = 20px

/* Header
-------------------------------------------------- */
header.app-header, aside.nav-proposal, .site-content, .site-content.loading-lock
  position fixed

.site-content.content-pinned
aside.nav-proposal.content-pinned
  transition transform 200ms linear
  padding-top 0

.site-content
  z-index 1
  overflow-y scroll
  background white

#content.site-content
  overflow-y auto

header.app-header
  z-index 20
  top 0
  left 0
  right 0
  height header_height
  background #64476e
  color white
  padding-left spacing
  font-weight bold
  text-transform uppercase
  font-size 12px

  &.with-contrast
    box-shadow 0 2px 2px #d5d5d5

  #toggleButton
    width 26px
    height 44px
    position absolute
    left spacing
    padding 10px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block

  a
     color white
     &:hover
       color white

  h1
    display inline-block
    width 300px
    font-size 12px
    margin-top 12px
    .logo
      height 40px
      display inline-block
      margin-right 10px
      margin-top -2px

  img.logo-image
    height 28px
    margin-top 5px

  img.logo-mobile
    display none
  
  img.logo-desk
    display inline-block
    
  .user-nav
    display flex
    .user
      .user-wrapper.can-change-forum
        .admin-link
          display block
      .user-wrapper
        display flex
        .user-badge,
        .notifications-badge
          position relative

          &.active
            .btn
              background rgba(0,0,0,.1)
            .dropdown-list
              display block

          .btn
            color white
            height 60px
            border-radius 0
            background none
            padding 13px 12px
            .caret
              margin-left 6px

          .dropdown-list
            display none
            position absolute
            right 0
            z-index 1000
            padding 5px 0
            min-width 160px
            width 100%
            font-size 14px
            list-style none
            border 1px solid rgba(#000,.15)
            box-shadow 1px 1px 4px -1px rgba(#000, .175)
            background-color #f9f9f9

            a
              display block
              clear both
              padding 10px 20px
              line-height 1.5
              color black
              text-transform none
              font-weight bold
              text-decoration none

              &:hover
                background #2c3e50
                color white
            .admin-link
              display none
          .profile,
          .notifications
            img
              width 32px
              border-radius 100px
            span.name,
            span.bell
              display inline
              margin-left 10px
              font-weight bold
              font-size 12px
              line-height 37px
              padding-top 4px
              padding-right 12px
              max-width 150px

            span.bell
              margin 0
              padding-right 0
              font-size 15px
              &:before
                transform s("rotate(%s)", -25deg)
            .caret
              margin-top -3px

    .login
      padding 6px 12px
      display inline-block
      margin-top 15px
      line-height 1.8

      i
        display none
        font-size 20px
      &:hover
        text-decoration none

vendors(prop, args, fn = null)
  val = fn == null ? args : fn + '(' + args + ')'
  -moz-{prop} val
  -webkit-{prop} val
  -o-{prop} val
  -ms-{prop} val
  {prop} val

.headroom
  vendors(transition, all 200ms linear)

.headroom--pinned
  vendors(transform, 0%, translateY)

.headroom--unpinned
  vendors(transform, -100%, translateY)

@media screen and (max-width: 700px)
  header.app-header
    padding-left: 0
    #toggleButton
      display: block
    h1#logo
      text-align: center
      width: auto
      display: block
    img.logo
      margin: auto
      margin-top: -2px
    img.logo-mobile
      display inline-block
    img.logo-desk
      display none
    .logo-link
      display: none
    .user-nav
      .caret
        display: none
      .btn
        border: 0
      .profile span.name
        display: none
      .login
        margin-left: 10px
        span
          display: none
        i
          display: inline-block
