/* Vars
-------------------------------------------------- */
header_height = 60px
spacing = 20px

/* Header
-------------------------------------------------- */

.site-content.content-pinned
aside.nav-proposal.content-pinned
  transition transform 200ms linear
  padding-top 0

.site-content
  z-index 1
  overflow-y scroll
  background white

#content.site-content
  overflow-y auto

header.app-header
  position static
  top 0
  left 0
  right 0
  background #64476e
  color white
  padding-left spacing
  font-weight bold
  text-transform uppercase
  font-size 12px
  height header_height
  width 100%

  &.with-contrast
    box-shadow 0 2px 2px #d5d5d5

  #toggleButton
    width 26px
    height 44px
    position absolute
    left spacing
    padding 10px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block

  a
     color white
     &:hover
       color white

  h1
    display inline-block
    width 300px
    font-size 12px
    margin-top 12px
    .logo
      height 40px
      display inline-block
      margin-right 10px
      margin-top -2px

  img.logo-image
    height 28px
    margin-top 5px

  img.logo-mobile
    display none

  img.logo-desk
    display inline-block
  .user-nav
    display flex
    float right
    @import './anon-user/styles'
    @import './user-badge/styles'

vendors(prop, args, fn = null)
  val = fn == null ? args : fn + '(' + args + ')'
  -moz-{prop} val
  -webkit-{prop} val
  -o-{prop} val
  -ms-{prop} val
  {prop} val

.headroom
  vendors(transition, all 200ms linear)

.headroom--pinned
  vendors(transform, 0%, translateY)

.headroom--unpinned
  vendors(transform, -100%, translateY)

@media screen and (max-width: 700px)
  header.app-header
    padding-left: 0
    #toggleButton
      display: block
    h1#logo
      text-align: center
      width: auto
      display: block
    img.logo
      margin: auto
      margin-top: -2px
    img.logo-mobile
      display inline-block
    img.logo-desk
      display none
    .logo-link
      display: none
