#notifications-wrapper.hide
  .notifications-settings
    .heading
      .circle
        i.icon-lock
      h1=t('settings.notifications.title')
    form.form(action="/settings/notifications", method="post", role="form", autosubmit='autosubmit')
      ul.form-messages
      .form-group
        label #{t('settings.notificatinos.get-email-when')}
      .form-group.get-email-notifications.checkbox
        label(for='email-notifications') #{t('settings.notifications.new-topic')}
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=4)=t('Save')
