.consultas-topic-card
  @import '../../../../lib/site/topic-layout/topic-article/poll/styles'

  width: 500px

  .topics-poll
    flex-grow: 2
    margin-bottom: 0

  .topic-card-footer-container
    width: 100%
    align-self: flex-end

  .topic-card-footer
    display: flex
    flex-wrap: wrap
    font-size: .9em
    padding-top: .8em
    width: 100%
    color: #a5a9aa
    border-top: 1px solid #ddd

    & > div
      display: inline-block
      margin-right: 1em

    [class*="icon-"]
      position: relative
      top: 1px

    a
      color: #00adef
      font-weight: 400

      &:hover
        color: #3dacf1

    .comments
      margin-right: 0
      margin-left: auto

  .social-links
    position: absolute
    left: 15px
    bottom: 15px
    font-size: 20px

    span
      margin-right: 7px
      color: #999
