.consultas-topic-card
  @import '../../../../lib/site/topic-layout/topic-article/poll/styles'

  width: 500px

  .topics-poll
    flex-grow: 2
    margin-bottom: 0

  .topic-card-footer-container
    width: 100%
    align-self: flex-end

  .poll-participants
    font-size: .9em
    color: #a5a9aa

  .topic-time
    font-size: .9em
    color: #a5a9aa
    .icon-clock
      font-size: .8em

  .topic-card-footer
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding-top: .8em
    width: 100%
    border-top: 1px solid #ddd

    [class*="icon-"]
      position: relative
      top: 1px

    a
      color: #00adef
      font-weight: 400

      &:hover
        color: #3dacf1

  .social-links
    font-size: 20px

    span
      margin-right: 7px
      color: #999

    .wp
      width: 18px
      height: 18px
      background-size: contain
      background-repeat: no-repeat
      display: inline-block
      margin: 0 0 0 2px
      background-image: unquote("url('/ext/lib/site/topic-layout/whatsapp-logo-gris.svg')")
