.topic-social
  margin-bottom 20px
  display: flex
  justify-content: space-between
  .participants-box
    .participants-container
      display inline
      span
        font-size: 14px
        color: #666
    .participant-profile
      margin-left 10px
      display inline-block
      img.avatar
        width 20px
        height 20px
        border-radius: 50%
  .share-links
    min-width: 72px
    a
      background #666
      padding 5px
      margin-left 10px
      border-radius border_radius
      color white
      display inline-block
      line-height 10px
      -webkit-transition all 0.3s ease
      &:hover
        text-decoration none
      &.facebook:hover
        background #3b5998
      &.twitter:hover
        background #3498db
