.topic-social
  display: flex
  justify-content: space-between
  margin-bottom: 20px

  .participants-box
    padding-top: 3px

    span
      display: inline-block
      font-size: 14px
      color: #666
      margin-right: 5px
      margin-bottom: 5px

    .participant-profile
      .avatar
        width: 20px
        height: 20px
        border-radius: 50%

    .view-more
      display: inline-block
      cursor: pointer

  .share-links
    min-width: 72px

    a
      background: #666
      padding: 8px 5px
      margin-left: 10px
      border-radius: 2px
      color: white
      display: inline-block
      line-height: 10px
      transition: all .3s ease-in-out

      &:hover
        text-decoration: none

      &.icon-social-facebook:hover
        background-color: #3b5998

      &.icon-social-twitter:hover
        background-color: #3498db
