#sign-in
  @import './btn-facebook'
  
  max-width: 300px
  margin: 0 auto
  padding: 0 15px
  .facebook-auth-form
    .muted
      text-align: center
      font-size: 0.9em
      color: #999
  hr
    margin: 2em auto
    max-width: 80px
    width: 100%
    height: 1px
    border: 0
    background-color: #f0f0f0

  .form-group
    overflow hidden

    .signup
      float right
      color #666
      font-size 12px

      span
        margin-right 5px
        font-weight bold

  .forgot
    position relative

    a
      position absolute
      right 0
      font-size 12px
      top 3px

  .resend-validation-email
    text-align center
    height 30px
    display flex
    justify-content center
    align-items center

    a
      font-size 13px
      color #ffffff
      width 100%
      background #75bfff
      padding 10px
