#signin-form
  .form-group
    overflow hidden
    .signup
      float right
      color #666
      font-size 12px
      span
        margin-right 5px
        font-weight bold
  .title-page i
    margin-right 3px