#signin-container
  flex 1
  display flex
  align-items center
  justify-content center
  overflow auto
  #signin-form
    max-width 300px
    width 90%
    .form-group
      overflow hidden
      .signup
        float right
        color #666
        font-size 12px
        span
          margin-right 5px
          font-weight bold
    .forgot
      position relative
      a
        position absolute
        right 0
        font-size 12px
        top 3px
    .title-page i
      margin-right 3px