/* Responsive
-------------------------------------------------- */
@media screen and (max-width: 1100px)
  article.proposal
    .entry-tag
      position: static
      width: auto
      padding-bottom: 10px
      margin-bottom: 20px
      text-align: left
      border-bottom: 4px solid #333
      svg.hexagon
        left: 0
        position: absolute
        display: none
      img
        z-index: 100
        left: 20px
        display: none

      span
        font-size: 14px
        margin-left: 0
        padding-top: 10px
        display: inline-block

@media screen and (max-width: 700px)
  header.app-header
    padding-left: 0
    #toggleButton
      display: block
    h1#logo
      text-align: center
      width: auto
      display: block
    img.logo
      margin: auto
      margin-top: -2px
    .logo-link
      display: none
    .user-nav
      .caret
        display: none
      .btn
        border: 0
      .profile span.name
        display: none
      .login
        margin-left: 10px
        span
          display: none
        i
          display: inline-block
  aside.nav-proposal
    top: 0

  section.site-content
    left: 0

  .inner-container
    max-width: 100%

  .proposal-options .vote-options
    .direct-vote
      display: block

    .vote-option
      width: 100%
      margin-right: 0
      text-align: center

  article.proposal
    h1
      font-size: 30px
    .entry-content
      font-size: 100%

  .uv-icon
    display: none !important

  /* Snap.js
  ----------------------------------------------- */
  .snap-content
    position: absolute
    background: white
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: auto
    height: auto
    z-index: 200000
    -webkit-overflow-scrolling: touch
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

  .snap-drawers
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: auto
    height: auto

  .snap-drawer
    position: absolute
    top: 0
    right: auto
    bottom: 0
    left: auto
    width: 265px
    height: auto
    overflow: auto
    -webkit-overflow-scrolling: touch
    -webkit-transition: width 0.3s ease
    -moz-transition: width 0.3s ease
    -ms-transition: width 0.3s ease
    -o-transition: width 0.3s ease
    transition: width 0.3s ease

  .snap-drawer-left
    left: 0
    z-index: 1

  .snap-drawer-right
    right: 0
    z-index: 1

  .snapjs-left .snap-drawer-right,
  .snapjs-right .snap-drawer-left
    display: none

  .snapjs-expand-left .snap-drawer-left,
  .snapjs-expand-right .snap-drawer-right
    width: 100%