extends layout

block aside
	//- proposals list
	nav.sidebar-nav

block content
	//- current proposal article
	article.proposal

	//- current proposal options
	.proposal-options

	//- current proposal comments
	.comments