h1#logo
  a(href='/') Democracia en Red Beta


.user-nav.btn-group
  - if (locals.citizen)

    a.btn.profile(href='#', data-toggle="dropdown").dropdown-toggle
        img(src=citizen.avatar)
        span.caret
    ul.dropdown-menu
        li
            a.logout(href=url('/logout')) Logout
  
  - else
    
    a(href=url('/auth/facebook')).login Login