.comments-filter
  .btn
    background-color: #909FA0
    color: white;
    font-size: 12px
    width: 174px
    text-align: center
    padding-left: 10px
    outline: 0

  .btn-caret
    position: absolute
    top: 0
    right: 0
    width: 10px
    padding-left: 0
    padding-right: 14px
  
  ul.dropdown-menu
    border-radius: 3px
    width: 100%
    margin-top: 2px

    li
      background-color: white

      a
        color: #333
        font-size: 12px
        font-weight: bold
        white-space: normal
        text-transform: uppercase
        padding: 6px 14px

.comments-filter.open
  .btn
    background-color: #727f80