.comments-filter
  .btn
    background-color: transparent
    color: #428bca
    font-size: 12px
    font-weight: normal
    text-align: center
    text-transform: none
    padding: 0 20px 0 10px
    outline: 0
    
    .caret
      color: #428bca
  
  ul.dropdown-menu
    background-color: #f9f9f9
    border-radius: 3px
    width: 100%
    margin-top: 2px

    li
      background-color: #f9f9f9
      text-align: right

      a
        color: #428bca
        font-size: 12px
        white-space: normal
        padding: 6px 14px

@media only screen and (max-device-width : 700px),
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
  .comments-filter .btn:not(.btn-caret) :not(strong)
    display: none