#tags-wrapper
  .tags-admin
    .row.well.well-lg
      .col-md-3.col-xs-6
        .btn.btn-success.new
          span.glyphicon.glyphicon-plus
          | 
          =t('admin-tags.list.add-tag')
      .col-md-6
        .input-group.input-group-md
          span.input-group-addon
            i.glyphicon.glyphicon-search
          input.form-control.search(type='text', placeholder='#{t("admin-tags.list.search.placeholder")}', autofocus)
      .col-md-3
    .row
      .list.list-group
        - each tag in tags
          a.list-group-item(href="/admin/tags/" + tag.id)
            span.tag-title=tag.name