@media only screen and (max-width: 600px)
  #help-container,
  #help,
  #help-content
    height: auto

  #help-container
    #help
      border-width: 0

      .sidebar-container
        display: none

      .help-content
        margin: 0px auto
        padding: 20px 30px
        min-width: 100%
        max-width: 100%

        > div
          margin-bottom: 30px
          padding-bottom: 15px
          border-bottom: 1px solid #dcdcdc

        > .hide
          display: block !important