#help-container
  height: unquote("calc(100% - 54px)")

  @media (min-width: 750px)
    display flex
    justify-content center

  .article-container
    flex 2
    overflow auto
    padding 0 30px

    .article-content
      max-width 730px

  @import './sidebar/styles'
  @import './md-guide/styles'
