#help-container
  display flex
  justify-content center
  flex 1
  .article-container
    flex 2
    overflow auto
    padding-left 70px
    .article-content
      max-width 730px
  @import './sidebar/styles'
  @import './md-guide/styles'