/* Vars
-------------------------------------------------- */
border_radius = 3px
/* Law options view
-------------------------------------------------- */
.proposal-options
  margin-bottom 50px
  .vote-options
    .proxy-vote
      display inline-block
    .vote-option
      display inline-block
      width 30%
      margin-right 5%
      color white
      text-transform uppercase
      font-weight bold
      border-radius border_radius
      margin-bottom 20px
      padding 14px
      -webkit-transition all 0.3s ease

      .flaticon
        display inline-block
        margin-right 14px
      span
        display inline-block
      &.vote-yes
        background-color #a4cb53
        &:hover
          background-color darken(#a4cb53, 40%)
      &.vote-no
        background-color #d95e59
        margin-right 0
        &:hover
          background-color darken(#d95e59, 40%)
        i
          transform:rotate(180deg)
          -ms-transform:rotate(180deg) /* IE 9 */
          -webkit-transform:rotate(180deg)

      &.vote-abstain
        background-color #666
        &:hover
          background-color darken(#666666, 40%)

      &.delegate-vote
        background-color #3498db


  .vote-box, .results-box
    background white
    padding 20px 0
    h5
      text-transform uppercase
      margin-top 0
    .delegation-box
      display inline-block
  .vote-box
    #voting-error
      color: black
    .meta-data
      margin-bottom 20px
    .change-vote
      font-size 16px
      color black
      font-weight bold
      i
        margin-right 10px
      &:hover
        text-decoration none
    .secret-results
      margin-right 6px
    .secret-results:before
      content " - "

  .toggle-results
    span
      margin-right 5px

  .results-box
    h5
      margin-bottom 0
    .percent
      font-size 30px
    .votes-results
      margin-bottom 20px
    .results-summary
      font-weight bold
    .votes-afirmative, .votes-afirmative h5
      color #a4cb53
    .votes-negative, .votes-negative h5
      color #d95e59
    .votes-neutral, .votes-neutral h5
      color #666666
