.modal-container
  position: absolute
  width: 550px
  height: 550px
  background-color: #fff
  border: 2px solid #525252
  z-index: 99
  left: 50%
  top: 50% 
  margin-left: -275px
  margin-top: -275px
  @media screen and (max-width: 550px)
    width: 340px
    margin-left: -170px
  
  .close-modal
    display: block
    width: 50px
    padding: 8px 15px
    font-size: 30px
    font-weight: 300
    cursor: pointer 
  
  .form-component-wrapper
    margin: 0 auto
    max-width: 360px
    @media screen and (max-width: 550px)
      max-width: 300px