.modals
  position absolute
  position fixed
  top 50%
  left 50%
  margin 0 !important
  max-width 90%
  max-width s('calc(100% - 2em)')
  min-width 0
  width 380px
  padding 1em
  -webkit-transform s('translate(-50%, -50%)')
  -ms-transform s('translate(-50%, -50%)')
  transform s('translate(-50%, -50%)')
  border-radius 2px
  background #fff

  .close
    position absolute
    right .6em
    top .5em

  .nanoModalButtons
    border-top none

  p
    font-weight bold
