.notifications-page
  max-width 580px
  margin 0 auto
  @media only screen and (max-width: 600px)
    max-width 100%
    padding 0 10px
  
  h1
    color #666
    font-weight 300
    margin 1em 0 0.7em
  
  table
    tr
      cursor pointer
    td
      vertical-align middle !important

    img
      max-height 40px
      max-width 40px
      border-radius 50%

    .small
      font-size 75%