@import './dropdown/dropdown'

.add-user-input
  position relative

  &.loading
    .status-icon
      animation rotate 1.1s linear infinite

      &:before
        content '\e031'

  .status-icon
    font-size .9em

    &:before
      content '\e008'

  .dropdown
    border 1px solid #f0f0f0
    border-radius 2px

  .item
    display flex
    align-items center
    align-content center
    white-space nowrap
    padding .5em
    font-size .85em
    transition background-color .05s .05s

    &.active
      background-color #f0f0f0

    img
      width 2.1em
      height 2.1em
      border-radius 2px

    p
      flex-grow 2
      margin 0 .5em
      font-weight bold
      text-overflow ellipsis
      overflow hidden
      cursor default

@css {
  @-webkit-keyframes rotate {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
