div.form-group.add-user-input
  .input-group
    .input-group-addon: i.glyphicon.status-icon
    input.form-control(type="text", placeholder=t('add-user-input.placeholder'), maxlength=256, data-input)
