border_radius = 2px

.topic-footer
  .source
    margin-top 10px
    p
      span
        font-size 12px
        margin-right 5px
      a
        font-size 16px
        color #333
        font-weight bold

  .links
    margin-bottom 30px

    h5
      font-size 14px
    p
      margin 0
      margin-bottom 5px
      padding-left 12px
      span
        font-size 12px
        margin-right 5px
      a
        font-size 14px
        color #3d699e
        font-weight bold
