header
  display: flex
  flex-direction: column
  width: 100vw
  max-width: 100%
  margin: 40px 0

  @media screen and (max-width: 768px)
    margin-top: 42px
  @media screen and (max-width: 425px)
    margin-top: 5px 
   
  .link-stage
      color: #FF8700
      font-weight: 400
      margin-left: 20px
      cursor: pointer
      &:hover
        color: #FF8700
        
  .stage-header
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: nowrap
    flex-direction: column
    @media screen and (max-width: 425px)
      margin-top: 30px
    .pp-stage
      color: #4f5353
      font-size: 1.5rem
      font-weight: 700
      text-align: center
      text-transform: uppercase
    .pp-nav
      display: flex
      align-items: center
      flex-wrap: wrap
      margin: 40px auto
      justify-content: center
      .btn
        margin: 20px
        position: relative
        box-shadow: none
        border-color: #4f5353
        border-radius: 5px
        background-color: #fff
        color: #4f5353
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
        width: 260px
        .btn-content
          margin: 0 auto
      .active
        outline: 0
        border-color: #f59231
        color: #fff
        background-color: #f59231
    .header-text
      font-size: 1.5rem
      color: #4f5353
    .header-text-cerrada
      margin-top: 40px
      
  nav
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 20px auto 0
    @media screen and (max-width: 425px)
      margin: 0
    
    .filter
      display: inline-block
      margin: 10px auto
      position: relative
      @media screen and (max-width: 425px)
        width: 100%
        margin: 0
        display: flex
        flex-direction: column
      .btn
        margin: 6px
        width: 180px
        position: relative
        box-shadow: none
        border-color: #4f5353
        border-radius: 5px
        background-color: #fff
        color: #4f5353
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
        &:hover,
        &:focus
          color: #f59231
        @media screen and (max-width: 425px)
          width: 100%
          margin: 0px
          border-radius: 0px
          border-top: none
          border-right: none
          border-left: none
          padding: 18px
        .btn-content
          margin: 0 auto
          .badge
            padding: .2rem 0.3rem
            font-size: .8rem
            color: #fff
            background-color: #f59231
            border-radius: 50%
            margin-left: 3px
        .caret-down
          display: inline-block
          position: absolute
          top: 10px
          right: 9px
          color: #4f5353
          font-size: .8rem
          @media screen and (max-width: 425px)
            top: 18px
            right: 25px
      .btn-votacion
        &:hover
          outline: 0
          border-color: #00adef
          color: #fff
          background-color: #00adef
      .active
        outline: 0
        border-color: #00adef
        color: #fff
        background-color: #00adef
        &:hover,
        &:focus
          color: #fff
      .applied-filter
        color: #f59231
        &:hover,
        &:focus
          color: #f59231
        
      .filter-dropdown
        cursor: auto
        position: absolute
        min-width: 190px
        top: 55px
        left: 6px //igual al margin de los botones
        z-index: 99
        padding: 15px 20px
        border: 1px solid #4f5353
        border-radius: 5px
        text-align: left
        color: #4f5353
        background-color: #fff
        box-shadow: 2px 2px 2px rgba(0,0,0,.3)
        @media screen and (max-width: 425px)
          width: 100%
          margin: 0
          top: 58px
          left: 0px
          border: 0
          border-radius: 0px
          padding: 15px 25px
        .filter-options
          display: flex
          @media screen and (max-width: 425px)
            justify-content: space-between
          .filter-column
            .option-container
              display: flex
              margin: 10px 0
              .check-container
                width: 20px
                position: relative
                display: inline-block
                input[type=checkbox]
                  visibility: hidden
                input[type=checkbox] + label
                  width: 19px
                  height: 19px
                  margin: 0 10px 0 0
                  position: absolute
                  top: 0
                  left: 0
                  cursor: pointer
                  border: 2px solid #4f5353
                  border-radius: 2px
                input[type=checkbox]:checked + label
                  background-color: #1daeec
                  border-color: #1daeec
                input[type=checkbox]:checked + label:after
                  content: ''
                  width: 13px
                  height: 7px
                  position: absolute
                  top: 3px
                  left: 1px
                  background: transparent
                  border: 3px solid #fff
                  border-top: none
                  border-right: none
                  transform: rotate(-50deg)
              label
                font-size: 1rem
                margin-left: 10px
                white-space: nowrap
          .filter-column + .filter-column
            margin-left: 25px
            @media screen and (max-width: 425px)
              margin-left: 0
        .dropdown-actions
          margin-top: 10px
          display: flex
          justify-content: space-between
          a
            text-decoration: none
            font-weight: normal
            font-size: 0.8rem
            font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
            color: #4f5353
            cursor: pointer
            @media screen and (max-width: 425px)
              font-size: 0.9rem
          a:last-child
            color: #f59231
            text-decoration: underline