header
  display: flex
  flex-direction: column
  width: 100vw
  margin: 50px 0
  .stage-header
    display: flex
    align-items: center
    justify-content: center
    position: relative
    .pp-stage
      display: inline-block
      padding: .8rem 4rem
      background-color: #1daeec
      margin-right: 20px
      border-radius: 1px
      color: #fff
      font-weight: 800
      text-align: center
      text-transform: uppercase
      position: absolute
      left: 0
    .header-text
      margin: 0 auto
      font-size: 1.5rem
      color: #4f5353
      
  nav
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 30px auto 0
    
    .filter
      display: inline-block
      margin: 10px 0
      position: relative
      .btn
        margin: 6px
        width: 180px
        position: relative
        box-shadow: none
        border-color: #4f5353
        border-radius: 5px
        background-color: #fff
        color: #4f5353
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
        &:hover,
        &:focus
        //&:active
          color: #f59231
        .btn-content
          margin: 0 auto
          .badge
            padding: .2rem 0.3rem
            font-size: .8rem
            color: #fff
            background-color: #f59231
            border-radius: 50%
            margin-left: 3px
        .caret-down
          display: inline-block
          position: absolute
          top: 10px
          right: 9px
          color: #4f5353
          font-size: .8rem
      .btn-votacion
        &:hover,
        &:focus,
        &:active
          outline: 0
          border-color: #00adef
          color: #fff
          background-color: #00adef
        
        
      
      .filter-dropdown
        cursor: auto
        position: absolute
        min-width: 190px
        top: 55px
        left: 6px //igual al margin de los botones
        z-index: 99
        padding: 15px 20px
        border: 1px solid #4f5353
        border-radius: 5px
        text-align: left
        color: #4f5353
        background-color: #fff
        box-shadow: 2px 2px 2px rgba(0,0,0,.3)
        .filter-options
          display: flex
          .filter-column
            .option-container
              display: flex
              margin: 10px 0
              .check-container
                width: 20px
                position: relative
                display: inline-block
                input[type=checkbox]
                  visibility: hidden
                input[type=checkbox] + label
                  width: 19px
                  height: 19px
                  margin: 0 10px 0 0
                  position: absolute
                  top: 0
                  left: 0
                  cursor: pointer
                  border: 2px solid #4f5353
                  border-radius: 2px
                input[type=checkbox]:checked + label
                  background-color: #1daeec
                  border-color: #1daeec
                input[type=checkbox]:checked + label:after
                  content: ''
                  width: 13px
                  height: 7px
                  position: absolute
                  top: 3px
                  left: 1px
                  background: transparent
                  border: 3px solid #fff
                  border-top: none
                  border-right: none
                  transform: rotate(-50deg)
              label
                font-size: 1rem
                margin-left: 10px
                white-space: nowrap
          .filter-column + .filter-column
            margin-left: 25px
        .dropdown-actions
          margin-top: 10px
          display: flex
          justify-content: space-between
          a
            text-decoration: none
            font-weight: normal
            font-size: 0.8rem
            font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
            color: #4f5353
            cursor: pointer
          a:last-child
            color: #f59231
            text-decoration: underline