{
  "extends": ["democracyos", "democracyos/react"],

  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  },

  "env":{
    "mocha": true
  }
}
