*.csv
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-*
.idea/*
.npmrc
.project
.tmp
/*.override.yml
/tmp
config*.json
docker-cloud.yml
lib-cov
logs
mongroup.conf
node_modules
npm-debug.log
pids
public
results
ssl
