.loading-spinner
  background-image unquote('url("https://www.alyt.com/frontend/img/spinner.gif")')
  background-size 25px 25px
  background-position right center
  background-repeat no-repeat

.search
	border-radius 3px
