.loading {    
    background-color: #ffffff;
    background-image: url("https://www.alyt.com/frontend/img/spinner.gif");
    background-size: 15px 15px;
    background-position:right center;
    background-repeat: no-repeat;
}