html
	head
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='@PartidodelaRed')
		meta(name='twitter:title', content='#{law.mediaTitle}')
		meta(name='twitter:description', content='#{law.summary}')
		meta(name='twitter:image:src', content='http://s3.amazonaws.com/pdr-mediawiki/images/8/84/Pdr_200x200.png')
		meta(name='twitter:domain', content='partidodelared.org')