.ext-home-presupuesto
  .cover
    display: flex
    align-items: center
    min-height: 450px
    padding: 15px 0
    color: #fff
    text-align: center
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-image: unquote("url('/ext/lib/site/home-presupuesto/cover.jpg')")
