border_radius = 2px

.topic-footer
  .source
    p
      span.glyphicon
        font-size 12px
        margin-right 5px
      a
        font-size 16px
        color #333
        font-weight bold

  .links
    margin-bottom 1em
    padding 6px 12px
    background-color #f0f0f0

    p
      margin 0
      margin-bottom 5px
      padding-left 12px
      span.glyphicon
        font-size 12px
        margin-right 5px
      a
        font-size 14px
        color #3d699e
        font-weight bold

  .share-links
    margin-bottom 40px
    a
      background #666
      padding 10px
      margin-right 10px
      border-radius border_radius
      color white
      display inline-block
      line-height 10px
      -webkit-transition all 0.3s ease
      &:hover
        text-decoration none
      &.facebook:hover
        background #3b5998
      &.twitter:hover
        background #3498db
