form(action="/signup", method="post")
  ul.form-errors
  .form-group: input(type='email', name='email', placeholder="example@abc.com")
  .form-group: input(type='text', name='fullname', placeholder="first and last name")
  .form-group: input(type='text', name='username', placeholder="")
  .form-group: input(type='password', name='password', placeholder="Password")
  .form-group: input(type='password', name='re_password', placeholder="Repeat Password")
  .form-group: input(type='submit', value='Signup now!')
