p #{t('Hi {name}', {name: citizenName})},
p !{t('Please click <a href="{url}">here</a> to validate your email address', {url: validateUrl})}.
p #{t('The DemocracyOS team')}.
p #{t("PS: if you haven't signed up, please ignore this email")}.