label Valid up to 18/10/2013
label You were signed up and now you are logged in. Please, go to our a(href="/") homepage
label Valid from 18/10/2013 
label Your sign up data was received. Now you should validate your identity. To do so, please follow the instructions a(href="http://www.partidodelared.org") here