h3 Valid up to 18/10/2013
h4 You were signed up and now you are logged in. Please, go to our 
	a(href="/") homepage
h3 Valid from 18/10/2013 
h4 Your sign up data was received. Now you should validate your identity. To do so, please follow the instructions 
	a(href="http://www.partidodelared.org") here