body
  header
    &.app-header
      .user-nav
        a[href="/signup"]
          display none

form
  .form-group
    label
      display block
    p
      &.help-block
        a
          margin 0 4px
          display inline-block
    ul
      padding 0
      list-style none