.comment-vote
  font-size 14px
  vertical-align top

  a.vote
    text-decoration initial

  a.vote, .counter
    display inline-block
    margin-bottom 12px
    margin-right 10px
    color #333333

    i
      font-size 20px
      font-weight bold

    &.up
      &.selected, &:hover
        color green

    &.down
      &.selected, &:hover
        color red