.poll-wrapper
  margin-bottom: 20px
  position: relative
  .results-bar
    background-color: blue
    position: absolute;
  .poll-btn
    width: 100%
    position: relative
    margin: 5px 0
    padding-left: 30px
    border: none
    outline: none
    background: transparent
    text-align: left
    &:active
      outline: none
      box-shadow: none
    &.show-results
      cursor: inherit
      text-align: left
      &.winner
        .results-bar
          background-color: #c1ddff
        .poll-option-label, .poll-results
          font-weight: bold
      .results-bar
        background-color: #d4d4d4
        position: absolute
        height: 100%
        top: 0
        left: 0
        border-radius: 2px
        z-index: 0
    .poll-option-label
      z-index: 1
      position: relative
    .poll-results
      position: absolute
      right: 10px
      z-index: 1
    .icon-check
      z-index: 1
      font-size: 21px
      background: #19CF86
      &::before
        position: absolute
        top: -2px
        left: -2px
        color: #fff
    .circle
      width: 20px
      height: 20px
      border: 1px solid #8899A6
      padding: 5px
      display: block
      border-radius: 50%
      position: absolute
      left: 5px
      top: 9px
  .overlay-vote
    position absolute
    z-index: 2
    left 0
    top 0
    height 100%
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    background-color rgba(#fff, .9)
    font-weight bold
    text-align center
    span.icon-lock
      font-size 20px
    span.text
      max-width 320px
