/* Responsive
-------------------------------------------------- */
@media screen and (max-width: 700px)
  header.app-header
    padding-left: 0
    h1#logo
      text-align: center
      width: auto
      display: block
    img.logo
      margin: auto
      margin-top: -2px
    .logo-link
      display: none
    .user-nav
      .caret
        display: none
      .btn
        border: 0
      .profile span.name
        display: none
      .login
        margin-left: 10px
        span
          display: none
        i
          display: inline-block

  section.site-content
    left: 0

  .inner-container
    max-width: 100%
