@import './dependencies'
@import '../*/styles'

/* Vars
-------------------------------------------------- */

@import './vars'

/* General
-------------------------------------------------- */

html
  -webkit-font-smoothing antialiased

body
  color rgba(#000, .8)
  font-size 16px
  line-height 1.4
  font-family 'Open Sans', sans-serif
  cursor default

h1,
h2,
h3,
h4,
h5,
p
  color inherit
  cursor inherit

p
  font-weight 400
  font-size 1em
  line-height 1.6

.lead
  font-size 1.2em

h1,
h2,
h3,
h4,
h5
  line-height 1.1
  font-weight 700

h1
  font-size 2.7em
  margin-top 1em
  margin-bottom .5em

h2
  font-size 2.1em
  margin-top 1.2em
  margin-bottom .8em

h3
  font-size 1.5em
  margin-top 1.375em
  margin-bottom 1.375em

h4
  font-size 1em
  margin-top 1.375em
  margin-bottom 1.375em

h4
  font-size .9em
  margin-top 1.375em
  margin-bottom 1em

a
  color #3d699e
  font-weight bold

  &:hover,
  &:focus,
  &:active
    color #3d699e
    text-decoration none

img.avatar
  border-radius 2px

.btn
  border-radius 2px

.btn-success
  background-color #27ae60

  &:hover
    background-color #1C8045

.btn-default
  color #333
  background-color #f5f5f5

.btn-group > .btn + .dropdown-toggle
  padding-left 13px
  padding-right 13px

label
  font-size .875em

.dropdown-menu
  border-radius 0
  text-transform none

.alert
  color white
  border 1px solid
  border-radius border_radius
  font-size .9em

  &.with-icon
    position relative
    padding-left 3em

    .alert-icon
      position absolute
      margin-right .5em
      top 1.2em
      left 1.3em

  &.alert-info
    color darken(#3498db, 50%)
    border-color #3498db
    background-color lighten(#3498db, 70%)

  &.alert-success
    color darken(#27ae60, 50%)
    border-color #27ae60
    background-color lighten(#27ae60, 70%)

  &.alert-warning
    color darken(#f1c40f, 50%)
    border-color #f1c40f
    background-color lighten(#f1c40f, 70%)

  &.alert-danger
    color darken(#d9534f, 50%)
    border-color #d9534f
    background-color lighten(#d9534f, 70%)

.system-alert
  margin-top 20px

.caret
  color #000
  position absolute
  right 12px
  top 50%
  margin-top -1px

.small-container
  max-width 300px
  padding-left 10px
  padding-right 10px
  margin auto

.title-page
  text-align center
  margin-bottom 30px
  margin-top 30px
  .circle
    color white
    width 40px
    height 40px
    overflow hidden
    display inline-block
    border-radius 100px

  i
    font-size 20px
    line-height 38px
    color #7f8c8d

  h1
    font-size 13px
    letter-spacing 1px
    text-transform uppercase

.nav-pills > li > a
  border-radius 2px

/* Site Content Container
-------------------------------------------------- */
.site-content
  margin-top header_height
  background-color #fff

/* Signin page
-------------------------------------------------- */
.signin-container, .signup-container, .forgot-container
  form
    label
      display:inline-block
    .forgot
      float:right
      a
        font-size 12px

/* `component/confirmation` adjust styles
-------------------------------------------------- */
body
  .overlay
    background unquote("radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.55) 100%)")
    z-index 9999998
    position: fixed

  .dialog
    position fixed
    display block
    left 50%
    top 150px
    right initial
    bottom initial
    max-width 100%
    width 400px
    margin-left -200px
    background #FFF
    box-shadow 2px 2px 5px rgba(0,0,0,.4)
    border 0px
    overflow initial
    z-index 9999999

    @media (max-width: 399px)
      left 1%
      width 98%
      margin-left 0

    p
      font-size 1.1em
    .content
      padding 0px 20px 10px 20px
      width 100% // overrides .dialog width from dialog component
      max-width none
      min-width 0

      .title
        position absolute
        left 0px
        right 0px
        top 0px
        min-height 20px
        padding 5px 20px
        background #D95E59
        color #FFF
        text-transform uppercase
        font-weight 600
      .body
        padding 20px 0px
        margin-top 30px
      .close
        line-height 10px
        top 10px
        right 10px
        font-weight 600
        color #000
        opacity .5
    .confirmation-actions
      padding 5px 10px
      button
        border none
        color #FFF
        background #aaa
        padding 5px 10px
        letter-spacing 0.09em
        text-transform uppercase
        font-size 0.7em
        outline none
        margin-left 5px
        &.cancel
          outline none
          &:focus, &:hover
            background #777
        &.main, &.ok
          background #D95E59
          &:focus, &:hover
            background #952722

span.error
  pointer-events none

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
