.sidebar-filter
  padding 15px 20px 5px

  .btn-group
    float none
    width 100%

    &.open > button.btn.btn-default,
    &.open > button.btn.btn-default.dropdown-toggle
      background-color #727f80
      box-shadow none

    button.btn.btn-default
      background-color #909FA0
      font-size 12px
      color #fff
      text-align left

      &.dropdown-toggle
        float right
        padding-right 0
        padding-left 0
        width 8%
        background-color #909FA0

      &.current-department
        width 100%
        border-radius 2px
        -webkit-font-smoothing antialiased
        overflow hidden

    .dropdown-menu
      width 100%
      border-radius border_radius
      li
        display block
        width 100%
      a
        display block
        padding 6px 14px
        white-space normal
        font-weight bold
        text-transform uppercase
        font-size 12px
        &:hover
          background #f1f1f1
          color #333

  .sidebar-filter-status
    margin-bottom 10px
    display flex
    button
      font-size 12px
      color #ffffff
      font-weight bold
      background-color #909FA0
      flex 1
      text-align center!important
      &.active
        background-color #727f80!important
        box-shadow rgba(0, 0, 0, .15) 0 3px 5px 0 inset

  .sidebar-filter-sort
    position relative
    margin-bottom 10px

    &.active
      .dropdown-list
        display block

    .dropdown-list
      z-index 1000
      display none
      position absolute
      top 100%
      left 0
      margin 2px 0 0
      padding 5px 0
      border 1px solid rgba(0,0,0,.15)
      border-radius 3px
      min-width 160px
      width 100%
      font-size 14px
      text-align left
      list-style none
      box-shadow 0 6px 12px rgba(0,0,0,.175)
      background-color #fff

      li
        &.active span, &:active span
          color #fff
          background-color #337ab7
      span
        display block
        padding 7px 14px 4px
        white-space normal
        font-weight bold
        text-transform uppercase
        font-size 12px
        line-height 1.8
        color #333
        text-decoration none
        cursor pointer

        &:hover
          background-color rgba(#f1f1f1, .7)

  .sidebar-filter-hide-voted
    label
      font-weight bold
      text-transform uppercase
      font-size 12px
      color #666
      margin-left 5px

