#forum-home
  flex 1
  .cover-img
    min-height 200px
    background-size cover
    color #fff
    display flex
    flex-direction column
    justify-content flex-end
  .cover
    color #444
    width 100%
    display flex
    flex-direction column
    justify-content flex-end
    margin-top 30px
  .cover-content
    width 90%
    max-width 600px
    margin 0 auto
    h1
      margin 0 0 10px
      font-size 30px
  .topics-container
    display flex
    flex-wrap wrap
    justify-content center
    @import './topic-card/styles'
