.meta
  display: flex
  margin-bottom: 15px
  align-items: center
  &.has-badge
    align-items: flex-start

.avatar
  margin-right: 10px
  width: 1.875em
  height: 1.875em

.name
  flex: 1
  margin: 0 10px 0 0
  font-size: .8em
  font-weight: bold
  overflow: hidden

.created-at
  font-size: 10px
  font-weight: 100
  color: #666
  display: inline-block
  margin: 3px 0 0 10px

.options
  position: relative
  align-self: flex-start

  button
    cursor: pointer
    border: 0
    font-size: 13px

  .arrow
    font-size: .8em
    padding: .5em
    margin: -.5em
    outline: none
    color: #999
    background: transparent

    &:hover
      color: rgba(0,0,0,0.8)
