.meta
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  align-content: center
  margin-bottom: 15px

.avatar
  margin-right: 10px
  width: 1.875em
  height: 1.875em

.name
  flex-grow: 0
  margin: 0 10px 0 0
  font-size: .8em
  font-weight: bold

.created-at
  font-size: .7em
  color: #666
  line-height: .8em
  flex: 1

.options
  position: relative
  align-self: flex-start
  button
    cursor: pointer
    border: 0
    background: transparent
    font-size: 13px
  .arrow
    font-size: .8em
    padding: 0
    color: #999
    &:hover
      color: rgba(0,0,0,0.8)
  .options-menu
    position: absolute
    top: 1.1em
    right: 0
    background: #fff
    border-radius: 2px
    border: 1px solid #ccc
    box-shadow: 0 1px 3px rgba(0,0,0,.12)
    padding: 5px 0
    font-size: .8em
    z-index: 1
    button
      width: 140px
      padding: 2px 10px
      color: #666
      &:hover
        background: rgba(0,0,0,0.8)
        color: #fff
