#topic-wrapper
  @import './tag-autocomplete/styles'
  @import './custom-attrs/styles'

  .alert-danger
    color #d95e59
    a
      color #952722
  .create-tag
    text-transform none
    padding-top 0.8em
    padding-bottom 0.6em
    border-radius 3px
    font-size 1em
  form
    .form-group
      span.error
        top 40px

    .link-group
      span.error
        top 40px
        right 20px

  .publish-status
    p
      padding 10px
      text-align center

      a
        font-size 12px
        text-decoration underline
        letter-spacing 0.04em

      span
        margin-right 5px
        letter-spacing 0.04em

  .topic-admin
    form
      .form-group.closingAt
        overflow hidden

        .input-group
          margin-bottom inherit
          margin-left 0

          &:last-child
            width unquote("calc(50% - 6px)")

        span.error
          top 10px

      .form-group
        input[readonly]
          background-color #fff
          cursor default

      textarea
        min-height 180px

      a.add-link
        background #16a085

      .add-link-forbidden
        display block
        width 100%
        color #F00
        text-align center

    .topic-links
      overflow hidden

    .topic-link
      display block
      position relative
      float left
      width 100%

      .link-row
        position relative
        width 100%
        margin 0
        padding 0 0 20px

        .link-group
          display inline-block
          position relative
          width 49%
          margin 0
          padding 0

          & + .link-group
            margin-left: 2%

      h4
        margin-top 0

  .commands
    margin-top 30px
    margin-bottom 30px

    .btn
      margin-top: 0
      margin-bottom: 5px

.popover
  display block !important
  cursor default

.clock
  font-size 14px

  td
    padding 2px
.tags-input, .tags-input input
  width 100%!important
.poll-options
  position: relative

@import '../../node_modules/tags-input/tags-input.css'
