#topic-wrapper
  @import './tag-autocomplete/styles'
  @import './attrs/styles'
  &.collaborative
    max-width: 750px
    margin: 0 auto
    position: absolute

  .alert-danger
    color #d95e59
    a
      color #952722

  .remove-button
    color: #D9534F

  .create-tag
    text-transform none
    padding-top 0.8em
    padding-bottom 0.6em
    border-radius 3px
    font-size 1em
  form
    position: relative
    .block-overlay
      width: 100%
      height: 100%
      opacity: 0.5
      position: absolute
      z-index: 9
      background: white
    .form-group
      span.error
        top 40px

    .link-group
      span.error
        top 40px
        right 20px
    .forum-tag
      margin-right: 5px

  .publish-status
    p
      padding 10px
      text-align center

      a
        font-size 12px
        text-decoration underline
        letter-spacing 0.04em

      span
        margin-right 5px
        letter-spacing 0.04em

  .topic-admin
    form
      .form-group
        input[readonly]
          background-color #fff
          cursor default

      textarea
        min-height 180px

      .add-link-forbidden
        display block
        width 100%
        color #F00
        text-align center

  .topic-link
    display flex
    flex-direction row
    flex-wrap wrap
    margin-bottom .5em

    .link-text,
    .link-url
      flex-grow: 2

    .link-text
      margin-right: .5em

  .commands
    margin-top 30px
    margin-bottom 30px

    .btn
      margin-top: 0
      margin-bottom: 5px

.popover
  display block !important
  cursor default

.clock
  font-size 14px

  td
    padding 2px

.tags-input,
.tags-input input
  width: 100%!important

.poll-options
  position: relative

.hierarchy-options
  position: relative

.action
  position: relative;

.help-text
  display: block
  font-size: .8em
  color: #666
  margin: 0 0 .3em

@import '../../node_modules/tags-input/tags-input.css'
