body.browser-update
  overflow visible

  #browser-update
    position absolute
    background-color #51394a
    width 100%
    min-height 100%

    .container
      width 430px
      margin 0 auto
      padding 100px 0
      overflow hidden

      img
        max-width 100px
        margin 0 auto
        display block

      .note
        text-align center
        margin 0 auto
        font-size 80px
        color #ecf0f1

      li
        color #BDC3C7
        margin-top 20px

      p
        color #ECF0F1

      li,p, li a
        font-size 20px

@media only screen and (max-width 700px)
  #browser-update
    .container
      width 90% !important
      padding-top 15% !important