#content-404
  .container-404
    h1 Whoops.
    p You are using an outdated version of Internet Explorer. To experience Cloudup, please update your browser.

    p Switch to Google Chrome
    The fast, free browser that's built for the modern web.

    p Switch to Firefox
    Firefox is a free and open source web browser developed for Windows, OS X, Linux and Android.

    p Can't change from Internet Explorer Google Chrome Frame is a free plug-in for IE.
    |  It provides you with features and better performance for modern web appilcations.
    |  Why? Newer browsers take advantages of the newest technologies and ensure safer browsing experiences.