#browser-update
  .container
    img(src=config['logo'])
    .note Whoops.
    p You are using an usuported version of Internet Explorer.
    p In order to use Demoracy OS, please update your browser.

    ul
      li Switch to&nbsp;
        a(href='http://www.google.com/intl/en/chrome/browser/desktop/index.html') Google Chrome

      li Switch to&nbsp;
        a(href='http://www.getfirefox.com') Firefox

      li Update your&nbsp;
        a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie') Internet explorer

    p Why?
    p Newer browsers take advantages of the newest technologies and ensure safer browsing experiences.