#sidebar
  max-width 266px
  min-width 240px
  width 100%
  overflow-y auto
  background #f9f9f9

  @import './filter/styles'
  @import './list/styles'

  @media screen and (max-width: 700px)
    position absolute
    height 100vh
    z-index 9
    width 280px
    transform unquote('translate3d(-100%, 0, 0)')
    transition transform 300ms ease-in-out

    &.active
      transform unquote('translate3d(0, 0, 0)')
      position: fixed
