/* Vars
-------------------------------------------------- */
content_width = 580px
/* Comments
-------------------------------------------------- */
.comments
  background #f9f9f9
  padding-top 50px
  padding-bottom 50px

  .lock-spinner
      background-color #f9f9f9

  .inner-container
    position relative
    margin auto
    max-width content_width

    form.comment-form
      overflow hidden

      textarea
        width 100%
        max-width 540px
        padding 2%
      .form-submit
        background-color #333
        color white
      .form-messages
        color red
        display block
      span.error
        color red
        display block

    .new-comment
      background-color #f9f9f9
      border 1px dashed #ddd
      font-weight normal
      color #999
      &:hover
        color #777
        border-color #ccc
      .icon-plus
        margin-right 6px