/* Vars
-------------------------------------------------- */
content_width = 580px
/* Comments
-------------------------------------------------- */
.comments
  background #f9f9f9
  padding-top 50px
  padding-bottom 50px

  .inner-container
    position relative
    margin auto
    max-width content_width

    form.comment-form
      textarea
        width 100%
        resize none
        max-width 540px
      .btn
        background-color #333
        color white
      .form-messages
        color red
        display block
      span.error
        color red
        display block