ul.admin-menu
  margin 0
  margin-bottom 20px
  padding 0
  text-transform uppercase
  list-style none

  li.heading
    padding 40px 0 10px 20px
    color #C4C4C4
    font-weight bold
    font-size 14px
    line-height 20px

  li
    a
      width 100%
      display inline-block
      text-decoration none
      color #3d699e
      font-size 12px
      font-weight bold
      line-height 15px
      padding 11px 20px 8px
