.ext-home-steps
  margin-bottom: 70px

  h2
    font-weight: 400
    text-align: center
    width: 100%
    margin: 60px 0
    font-size: 2.5em
    color: #32a7d3
    letter-spacing: 1px

  .participa-steps
    width: 100%
    display: block
    padding: 0 15px

    @media screen and (min-width: 940px)
      display: flex
      justify-content: space-between

  .p-step
    display: block
    position: relative
    margin-bottom: 40px
    margin-left: auto
    margin-right: auto
    max-width: 400px
    text-align: center
    @media screen and (min-width: 940px)
      width: 230px

    @media screen and (min-width: 940px)
      margin-right: 40px

      &:first-child
        margin-left: 0

    &::before
      width: 0
      height: 0
      border-style: solid
      border-color: transparent transparent transparent #d8d8d8
      position: absolute
      right: -30px
      border-width: 10px 0 10px 20px
      top: 100px
      z-index: 9
      @media screen and (min-width: 990px)
        right: -60px
        border-width: 20px 0 20px 40px
      @media screen and (min-width: 940px)
        content: ""

    &:last-child::before
        content: none

    .p-text
      font-size: 22px
      margin-top: 16px
      line-height: 28px
      letter-spacing: 1px
      font-weight: 300
      text-align: center
      color: #818181
      a
        font-weight: 400
        color: #00adef

    div
      position: relative

      .num
        color: white
        background: #3ba4ce
        padding: 8px 23px
        border-radius: 50%
        font-size: 40px
        position: absolute
        top: 10px
        left: 7px
        display: none
        @media screen and (min-width: 940px)
          display: block
      p
        border-radius: 50%
        color: #818181
        font-size: 40px
        font-weight: 100
        display: flex
        align-items: center
        justify-content: center
        @media screen and (min-width: 940px)
          border: 5px solid #f7f7f7
          width: 225px
          height: 225px
