.replies-list
  border-top: 1px solid #e6e6e6
  padding: 20px 0 30px

.replies-list-item
  padding: 0 10px
  background-color: #fff
  border-left: 3px solid #ccc

  .meta
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    align-content: center
    margin-bottom: 15px

  .avatar
    margin-right: 10px
    width: 1.4em
    height: 1.4em

  .name
    font-size: .8em
    font-weight: bold

  .text
    margin: 0
    font-size: .875em
    display: inline-block

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
      margin: 0
      font-size: inherit
      line-height: 1.6

  .actions
    display: flex
    justify-content: space-between
    margin-top: 10px
    padding-bottom: 20px
    .created-at
      font-size: .7em
      color: #666
      line-height: 1.8em
    button
      cursor: pointer
      border: 0
      background: transparent
    .votes, .replies-score
      .score
        margin-right: .5em
        font-size: 1em

        span
          font-weight: bold

        small
          text-transform: lowercase
          color: #999
    .votes
      button
        font-size: 14px
      .upvote
        &.active,
        &:hover
          color: #A4CB53

      .downvote
        &.active,
        &:hover
          color: #D95E59

  &:hover
    .actions
      .reply
        i
          color: rgba(0,0,0,0.8)

  &:last-child
    .actions
      padding-bottom: 0
