#composer.modal.hide.fade(role="dialog")
  form(action="/proposal/create", method="post", autocomplete="off")
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
      h3 Proposal composer
    .modal-body
      p
        input(name="title", type="text", placeholder="Proposal's title.")
      p
        input.tag-input(name="tag", type="text", data-provide="typeahead", placeholder="#tag")
      p
        textarea(name="essay", placeholder="Start typing your proposal.")

    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close
      a.btn.btn-primary(href="#") Save changes