h1#logo
  a(href='/') Democracia en Red Beta


.user-nav
  - if (locals.citizen)

    a.profile(href='#')
        img(src=citizen.avatar)
        
    a.logout(href=url('/logout')) Logout
  
  - else
    
    a(href=url('/auth/facebook')).login Login