/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.push-down,
footer {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding-top: 60px;
}

/* Custom page CSS
----------------------------------------------------- */
/* Not required for template or sticky footer.  */

/* Facebook Login */
.navbar .nav li.login nav {
  padding:10px 15px 0px 15px;
}

/* Brand */
.navbar a.brand {
  margin: 10px 15px 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff !important;
  padding: 10px 0 10px 0;
  opacity: 0.9;
  margin-right: 30px;
  display: inline-block;
}

/* Responsive button */
.navbar button.btn.btn-navbar {
  margin: 14px 15px 0px 0px;
  padding-bottom:9px;
}

/* User dropdown responsive */
.navbar .nav-collapse:not(.in) ul.nav.pull-right  {
  padding:5px 10px;
}

.navbar .nav>li>a {
  color: #fff !important;
  text-shadow:none !important;
}
.navbar .nav>li>a:hover {
  color: #333 !important;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background:none !important;
}
