/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

header {
  background: #00f;
  background-image: -webkit-linear-gradient(#68a0b6 3.3%, #44798d);
  background-image: -moz-linear-gradient(#68a0b6 3.3%, #44798d);
  background-image: -o-linear-gradient(#68a0b6 3.3%, #44798d);
  padding-top: 4px;
}

  header nav {
    background-color:#78C0D6;
    display: inline-block;
  }

    header nav h1#logo {
      display: inline-block;
      margin: 0;
      margin-left: 20px;
      float: left;
      margin-right: 30px;
    }

    header nav h1#logo a {
      width: 52px;
      height: 49px;
      margin: 5px 0;
      background: url("../images/logo.png?rand");
      display: block;
      text-indent: -1000em;
    }

    header nav :not(#logo) a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      color: #FFF;
      padding: 10px 0 10px 0;
      opacity: 0.9;
      margin-right: 30px;
      display: inline-block;
    }

    header nav ul {
      display:inline-block;
      margin:10px;
    }

      header nav ul li {
        display:inline-block;
        float:left;
      }

  section.container {
    margin-top:-75px;
    padding-top:75px;

    height:100%;
  }
