/* General
-------------------------------------------------- */
html {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "freight-sans-pro", sans-serif;
}
body.home {
  overflow: hidden;
}
header.app-header,
section.app-content,
aside.nav-propousals {
  position: fixed;
}
header.app-header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #00b3eb;
  color: #fff;
  padding-left: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
header.app-header a {
  color: #fff;
}
header.app-header h1 {
  display: inline-block;
  width: 300px;
  font-size: 12px;
}
header.app-header nav {
  display: inline-block;
  height: 60px;
}
header.app-header nav ul li {
  display: inline-block;
}
header.app-header nav ul li a {
  margin-right: 30px;
}
header.app-header ul.user-nav {
  display: inline-block;
  float: right;
  margin-top: 20px;
  list-style: none;
  margin-right: 30px;
}
header.app-header ul.user-nav li {
  display: inline-block;
  margin-left: 30px;
}
aside.nav-propousals {
  top: 60px;
  left: 0;
  bottom: 0;
  width: 280px;
  border-right: 1px solid #999;
  overflow-y: scroll;
}
aside.nav-propousals li {
  border-bottom: 1px solid #ccc;
}
aside.nav-propousals li a {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
}
aside.nav-propousals li a span.title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
aside.nav-propousals li a span.created-by {
  font-size: 11px;
  opacity: 0.5;
}
aside.nav-propousals li.active a {
  background: #f9f9f9;
}
section.app-content {
  left: 250px;
  top: 60px;
  padding: 20px 100px;
}
