mixin clause(c)
  - var classes = c.centered ? ['text-center'] : []
  - var text = (c.clauseName ? c.clauseName + ': ' : '') + c.text
  - if (i > 0) classes.push('hide')
  p.clause.commentable-section(class=classes, data-section-id=c.id)!=text

- if (clauses.length)
  - each c, i in clauses
    +clause(c)
  - if (clauses.length > 1)
    a.read-more(href="#")= t('read more')