extends ./layout.jade

append vars
  - className = 'styleguide'

block title
  title Styleguide | DemocracyOS

block content
  .cover.styleguide-container
    h1 Styleguide
    p CSS Base Styles for DemocracyOS

