block vars
  - var className = ''

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='icon', type='image/x-icon', href=config.favicon)
    block title
      title DemocracyOS
    link(rel='stylesheet', href='/site.css')
    link(rel='stylesheet', href='/styleguide.css')
  body(class=className)
    block content
    include ../layout/includes/fonts
