body
  overflow: auto

#outer-layout
  padding-top 54px

.caret
  display inline-block
  width 0
  height 0
  margin-left 2px
  vertical-align middle
  border-top 4px dashed
  border-right 4px solid transparent
  border-left 4px solid transparent

.hide
  display none !important

.v-hidden
  visibility hidden

.center-container
  flex 1
  display flex
  flex-direction column
  align-items center
  overflow auto
