@import '../../../../lib/admin/boot/boot'
.admin-content
  .collaborative
    form
      .form-group:nth-child(2),
      .form-group:nth-child(4),
      .form-group:nth-child(6),
      .form-group:nth-child(7),
      .form-group:nth-child(8),
      .form-group:nth-child(9),
      .form-group:nth-child(10),
      .form-group:nth-child(12),
      .form-group:nth-child(14),
      .form-group:nth-child(15)
        display: none
    .commands:last-child
      display: none
@import '../../*/styles.styl'
