.entry-content
  font-family 'Noto Serif', serif
  line-height 1.6
  margin-bottom 2em

a:hover
  color #3d699e
  text-decoration underline

img
  max-width 100%

.body
  font-size 110%
.summary
  font-size 16px
  margin 40px 0

.clauses
  margin-top 20px

  .clause
    margin-bottom 20px
    word-wrap break-word
    img
      width 100%
