.replies-list
  padding: 20px 0
  border-top: 1px solid #e6e6e6
  &.no-replies
    border-top: none
    padding: 0

.replies-list-item
  padding: 0 10px
  background-color: #fff
  border-left: 3px solid #ccc
  position: relative
  .delete-reply
    font-size: 13px
    p
      margin-bottom: 5px
  .meta
    margin-bottom: 5px

  .avatar
    width: 1.4em
    height: 1.4em

  .name
    font-size: .75em

  .options
    font-size: .7em

  .text
    margin: 0 0 20px
    font-size: .8em
    display: inline-block

  &:last-child
    .text
      margin-bottom: 0
