.replies-list
  padding: 20px 0
  border-top: 1px solid #e6e6e6
  &.no-replies
    border-top: none
    padding: 0

.replies-list-item
  padding: 0 10px
  background-color: #fff
  border-left: 3px solid #ccc
  position: relative
  .delete-reply
    font-size: 13px
    p
      margin-bottom: 5px

  .text
    margin: 0 0 20px
    font-size: .8em
    display: inline-block

  @import './header/styles'

  &:last-child
    .text
      margin-bottom: 0
