#home-multiforum
  background #f0f0f0
  .forum-info
    width 100%
    display flex
    align-items center
    flex-direction column
    .content
      a
        float right
        margin-top 20px
        span
          font-size 13px
          margin-left 10px
  .cover
    padding-top 30px
    min-height 300px
    font-size 16px
    color #f9f9f9
    background-size cover
    background-repeat no-repeat
    background-position center top
    background-image unquote("url('https://democracyosorg.s3.amazonaws.com/cover-hands.jpg')")
  #forum-list
    min-width 600px
    .msg-empty
      text-align center
      background #e4e4e4
      padding 40px 0
      color #808080
      font-size 17px
    .load-more
      margin-bottom 20px
@import './forum-card/styles'