// Override only on useful browsers
@media all
  .settings-forum-delete-modal
    position absolute
    top 50%
    left 50%
    margin 0 !important
    max-width 90%
    width 500px
    -webkit-transform s('translate(-50%, -50%)')
    -ms-transform s('translate(-50%, -50%)')
    transform s('translate(-50%, -50%)')
