#forums-wrapper.hide
  .forums-settings
    .heading
      h1= t('settings.sidebar.forums')
    .actions
      a.btn.btn-default(href='/forums/new')
        = t('newsfeed.call-to-action.start-a-forum')
    .forums
