- var cardinality = 1 === participants.length ? 'singular' : 'plural'
- var more = participants.length > 5;
.participants-box
  .participants-container
    span #{participants.length} #{t('proposal-article.participant.' + cardinality)}
  a.view-more.hellip(href="#", class= more ? '' : 'hide') &hellip;
