#help-sidebar-container
  display flex
  justify-content flex-end
  background whitesmoke
  .help-sidebar
    width 330px
    padding-left 70px
    h3
      padding 16px 0 0
      color #555
      font-weight bold
      font-size 17px
      line-height 30px
    a
      display block
      margin 0 0 10px