#help-sidebar-container
  background #f0f0f0

  .help-sidebar
    width 220px
    padding 30px

    h3
      padding 16px 0 0
      color #555
      font-weight bold
      font-size 17px
      line-height 30px
      
    a
      display block
      margin 0 0 10px
