#help-sidebar-container
  flex 1
  display flex
  justify-content flex-end
  .help-sidebar
    width 220px
    h3
      padding 16px 0 0
      color #c4c4c4
      font-weight bold
      font-size 17px
      line-height 30px