- var prepend = forum ? ('/' + forum.name) : ''

ul.admin-menu.nav.nav-pills.nav-stacked
  li: a(href="#{prepend}/admin/topics" data-section='topics')=t('admin-sidebar.topics.title')
  - if (user.staff)
    li: a(href="#{prepend}/admin/tags" data-section='tags')=t('admin-sidebar.tags.title')
  - if (config.usersWhitelist)
    li: a(href="/admin/users" data-section='users')=t('admin-sidebar.whitelists.title')
