ul.admin-menu
  li.heading= t('admin-sidebar.laws.title')
  li: a(href="/admin/laws")= t('admin-sidebar.laws.list')
  li: a(href="/admin/laws/create")= t('admin-sidebar.laws.create')
  li.heading= t('admin-sidebar.tags.title')
  li: a(href="/admin/tags")= t('admin-sidebar.tags.list')
  li: a(href="/admin/tags/create")= t('admin-sidebar.tags.create')
