.desafios-topic-card
  width: 350px

  .topic-card-info
    padding-bottom: 0
    padding-top: 10px

  .fecha
    margin-bottom: 0
    font-size: 12px
    font-weight: 400
    color: #a5a9aa

  .participants
    font-weight: 400
    color: #a5a9aa
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row-reverse

  .topic-card-footer
    padding: 15px
