.desafios-topic-card
  width: 350px

  .topic-card-info
    padding-bottom: 2.5em
    padding-top: 10px

  .fecha
    margin-bottom: 0
    font-size: 12px
    font-weight: 400
    color: #a5a9aa

  .participants
    font-weight: 400
    color: #a5a9aa
    margin-bottom: .6em

  .topic-card-footer
    padding: 15px
