.ext-home-voluntariados
  @import './topic-card/styles'

  .sub-sub-title
    font-size: 1.3em
    margin-top: 10px

    a
      color: #fff
      text-decoration: underline

  .topics-container
    position: relative
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom: 60px

  .filter
    text-align: center
    color: #858585
    font-size: 29px
    margin: 60px 0 100px
    select
      color: #858585
      background: #fff
      border: 1px solid #d2d2d2
      padding: 0px 5px
      margin: 4px 3px

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
