.ext-home-voluntariados
  @import './topic-card/styles'

  .add-ong
    margin-bottom: 0
    padding-top: 5rem
    text-align: center

    h1
      margin-top: 0

  .topics-container
    position: relative
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom: 60px

  .filter
    // max-width: 780px
    margin: 40px auto 30px
    text-align: center
    color: #858585
    font-size: 29px
    font-weight: 400

    select
      color: #858585
      background: #fff
      border: 1px solid #d2d2d2
      padding: 0px 5px
      margin: 4px 3px
      font-weight: 700

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
