.privileges-alert
  .inner-container
    - if (visibility === 'closed' && !privileges.canVoteAndComment)
      .alert.alert-warning.with-icon
        i.alert-icon.glyphicon.glyphicon-ban-circle
        = t('privileges-alert.not-allowed')
