.no-topics
  margin 90px auto
  width 70%
  color #333
  font-weight 500

.browser-page
  .create-first-topic
    margin 50px auto
    width 65%
    padding-top .8em
    padding-bottom .6em
    border-radius 3px
    text-transform none
    font-size 1em

@media only screen and (max-width: 700px)
  .no-topics,
  .create-first-topic
    width 90%