/* Vars
-------------------------------------------------- */
header_height = 60px;
spacing = 20px;
border_radius = 3px;
nav_proposal_width = 280px;

/* General
-------------------------------------------------- */

html
	-webkit-font-smoothing: antialiased; 

h1,h2,h3,h4,h5,h6
	font-family: "freight-sans-pro",sans-serif;
	font-weight: bold;

img.avatar
	border-radius: 100%;

.btn-default
	border: 0;

.btn-group > .btn + .dropdown-toggle
	padding-left: 13px;
	padding-right: 13px;

.dropdown-menu
	border-radius: 0;
	text-transform: none
	// box-shadow: none;

/* Header
-------------------------------------------------- */
header.app-header, section.site-content, section.app-content, aside.nav-proposal
	position: fixed;

header.app-header
	z-index: 100000;
	top: 0;
	left: 0;
	right: 0;
	height: header_height;
	background: #3498DB;
	border-bottom: 1px solid #2980b9
	color: white;
	padding-left: spacing;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "freight-sans-pro",sans-serif;

	a 
		color: white;

	h1 
		display: inline-block;
		width: 300px;
		font-size: 12px;
		margin-top: 23px;

	.user-nav 
		display: inline-block;
		float: right;
		list-style: none;
		margin-right: spacing;

		.btn 
			height: 60px;
			border-radius: 0;
			border-left: 1px solid #2980b9;
			border-right: 1px solid #2980b9;
			background: none;
			padding: 0;
			padding: 13px 12px;
			&:focus
				outline: 0;
			.caret 
				margin-left: 6px;

		.dropdown-menu
			left: auto;
			right: 0;
			a 
				color: black;
				text-transform: none
				font-weight: bold;
				padding: 10px 20px;
				display: block;
				&:hover 
					background: #2c3e50;
					color: white;

		&.open
			.btn 
				background: rgba(0,0,0,.1);
			.dropdown-toggle
				box-shadow: none;

		.profile img 
			width: 32px;
			border-radius: 100px;

		.profile span.name
			display: inline-block;
			margin-right: 10px;
			font-family: "freight-sans-pro", sans-serif;
			font-weight: bold;
			font-size: 12px;

		.login
			// background: rgba(0,0,0,.4);
			padding: 6px 12px;
			display: inline-block
			// border-radius: border_radius;
			margin-top: 15px;

			&:hover 
				text-decoration: none

/* Site Content Container
-------------------------------------------------- */
body.browser-page
	> section#content
		display: none;

section.site-content
	top: header_height;
	left: 0;
	right: 0;
	bottom: 0;
	&#content
		z-index: 5;
		background-color: #ffffff;


/* Proposal Aside Navigation
-------------------------------------------------- */

.dropdown-deparment
	padding: spacing;
	background-color: #BDC3C7;
	display: block;
	.btn-group
		float: none;
		width: 100%;
		button.btn.btn-default
			background-color: #7F8C8D;
			font-size: 12px;
			&.dropdown-toggle
				background-color: #727f80;
			&.current-department
				width: 190px;

aside.nav-proposal 
	top: header_height;
	left: 0;
	bottom: 0;
	width: nav_proposal_width;
	border-right: 1px solid #BDC3C7;
	overflow-y: scroll;
	background: #ECF0F1;
	.navlist
		li 
			border-bottom: 1px solid #BDC3C7;
			a 
				padding-left: spacing;
				padding-top: 14px;
				padding-bottom: 14px;
				color: black;	
				position: relative;
				padding-left: 70px;
				color: #666;

				.proposal-type
					position: absolute;
					left: spacing;
					top: spacing;
					background: #95a5a6;
					color: white;
					border-radius: 100px;
					padding: 10px;
					line-height: 10px;

				&:hover 
					.proposal-type
						background-color: #F1C42E;
					.proposal-type-2
						background-color: #E67E22;

				span.title
					font-size: 15px;
					font-weight: bold;
					display: block;
					margin-bottom: 0px;

				span.created-by
					font-size: 11px;
					opacity: .5;

	.navlist
		li.active 
			a			
				.proposal-type
					background-color: #F1C42E;
				.proposal-type-2
					background-color: #E67E22;

			&.active 
				a 
					background: #fff;
					color: black;


.proposal-type
	position: absolute;
	left: 14px;
	top: 20px;
	background: #F1C42E;
	color: white;
	border-radius: 100px;
	padding: 10px;
	line-height: 10px;
	&.proposal-type-2
		background-color: #E67E22;

section.app-content
	left: nav_proposal_width + 1px;
	top: header_height;
	padding: 20px 0 0 0;
	overflow-y: scroll;
	right: 0;
	bottom: 0;


/* Proposal View
-------------------------------------------------- */
article.proposal
	width: 500px;
	margin-top: 10px;
	margin-left: 100px;
	min-height: 300px;

	h2 
		margin-top: 0;
		margin-bottom: 20px;
	.meta-information
		margin-bottom: 10px;
		opacity: .6;
		color: black
		.meta-timeago, .meta-timeago-label
			display: inline-block;
		.meta-item
			color:black
		.label
			margin-right:10px;
			display:inline-block;
			border-radius:0;
	.proposal-type
		top: 96px;
		left: 44px;
	hr 
		border-top: 4px solid #eee;
		width: 50%;

	.footer-notes 
		color: #666;
		margin-bottom: 20px;

	.participants
		font-weight: bold;
		padding: 10px 0;
		margin: 30px 0;
		border-top: 2px solid #f1f1f1;
		border-bottom: 2px solid #f1f1f1;
		.participant-profile 
			margin-left: 10px;
			img
				width: 30px;
				height: 30px;
			
	.links
		p
			span.glyphicon
				font-size: 10px
				margin-right: 5px
			a
				font-size: 14px
	.share-links
		margin-bottom: 40px;
		a 
			background: #ccc;
			padding: 10px;
			margin-right: 10px;
			border-radius: border_radius;
			color: white;
			display: inline-block
			line-height: 10px;

			&:hover 
				text-decoration: none;

			&.facebook:hover
				background: #3b5998;

			&.twitter:hover
				background: #3498db;

			&.google-plus:hover
				background: #c0392b;


.proposal-options
	top: 30px;
	right: spacing;
	.vote-options
		.direct-vote, .proxy-vote
			display: inline-block;
		.vote-option
			display: inline-block;
			width: 150px;
			margin-right: 20px;	
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			border-radius: border_radius;
			margin-bottom: 20px;
			padding: 14px;
			.flaticon
				display: inline-block
				margin-right: 14px;
			span 
				display: inline-block;
			&.vote-yes
				background-color: #a4cb53;

			&.vote-no
				background-color: #d95e59;
				i
					transform:rotate(180deg);
					-ms-transform:rotate(180deg); /* IE 9 */
					-webkit-transform:rotate(180deg);

			&.vote-abstain
				background-color: #666;
			&.delegate-vote
				background-color: #3498db;
				
	.vote-box, .results-box
		border: 1px solid #eee;
		background: white;
		padding: 20px 100px;
		h5 
			text-transform: uppercase;
			margin-top: 0;

		.delegation-box
			display: inline-block;
	.vote-box
		.meta-data
			margin-bottom: 20px
	.toggle-results
		// margin-left: 100px
		span
			margin-right: 5px


/* Comments
-------------------------------------------------- */
.comments
	background: #f9f9f9;
	border-top: 1px solid #f1f1f1;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

	h4 
		margin-bottom: 30px;

	span
		margin-right: 20px;

	.comment-form
		margin-bottom: 50px;
		margin-top: 50px;
		textarea
			width: 500px;
		.btn 
			background-color: #333;
			color: white;

	.comment-list
		.comment-item
			margin-bottom: 20px;
			max-width: 580px;
			.pull-left
				width: 46px;
				margin-right: 20px;
				.avatar 
					width: 46px;
					height: 46px;
					border-radius: 100px;

/* Signin page
-------------------------------------------------- */
.signin-container, .signup-container, .forgot-container
	text-align: left;
	max-width: 360px;
	width: 100%;
	margin: 60px auto 0;

	h1
		font-size: 20px
	form
		label
			display:inline-block;
			float:left;
			&.forgot
				float:right;

/* Uservoice feedback button
-------------------------------------------------- */
.uv-icon.uv-bottom-right
	right: 25px !important;