.presupuesto-topic-card
  width: 260px
        
  &.topic-joven
    .topic-card-info
      border-top-color: #FF3366
    
    .topic-card-category
      background-color: #FF3366

    .budget
      color: #FF3366
      
  &.topic-area
    .topic-card-info
      border-top-color: #00B1F0
    
    .topic-card-category
      background-color: #00B1F0

    .budget
      color: #00B1F0
      
  &.topic-distrito
    .topic-card-info
      border-top-color: #F59231
    
    .topic-card-category
      background-color: #F59231

    .budget
      color: #F59231

  &.proyectado
    .state
      background-color: #29C3D5

  &.finalizado
    .state
      background-color: #64D677

  &.ejecutandose
    .state
      background-color: #EFCA08

  .topic-card-info
    border-top-color: #999
    position: relative

  .state
    z-index: 10
    position: absolute
    right: 0
    top: -107px
    padding: 7px 16px
    line-height: 1
    color: #fff
    font-size: 21px
    font-weight: 500
    background-color: #00adef

  .topic-results
    padding: 12px 15px 9px
    color: #00adef
    border-bottom: 1px solid #00adef

    h2,
    p
      margin: 0
      color: inherit
      text-transform: uppercase
      font-weight: 600

    h2
      font-size: 20px

    p
      font-size: 14px

  .topic-location
    color: #a5a9aa
    font-size: 13px
    margin-bottom: 0.8em

    i
      margin-right: .5em

  .number
    float: right

  .topic-card-title
    font-size: 1.125em

  .topic-card-body
    flex: 1

  .topic-card-footer
    align-self: flex-end
    width: 100%
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    
    .topic-card-category
      border-radius: 5px
      color: #FFF
      font-size: 13px
      padding: 5px 1px
      text-align: center
      width: 88px

  .budget
    margin: 0
    color: #999
    font-weight: 900
    line-height: 1
    font-size: 24px


