.presupuesto-topic-card
  width: 260px

  &.has-votes
    .budget
      color: #A5A9AA
      font-weight: 400

  &.is-winner
    .topic-results
      color: #F39431
      border-bottom-color: #F39431

    .state
      background-color: #F39431

    .topic-card-cover
      border-bottom-color: #F39431

  .state
    z-index: 10
    position: absolute
    right: 0
    top: 14px
    padding: 7px 16px
    line-height: 1
    color: #fff
    font-size: 21px
    font-weight: 500
    background-color: #00adef

  .topic-results
    padding: 12px 15px 9px
    color: #00adef
    border-bottom: 1px solid #00adef

    h2,
    p
      margin: 0
      color: inherit
      text-transform: uppercase
      font-weight: 600

    h2
      font-size: 20px

    p
      font-size: 14px

  .topic-location
    color: #a5a9aa
    font-size: 13px
    margin-bottom: 0.8em

    i
      margin-right: .5em

  .number
    float: right

  .topic-card-title
    font-size: 1.125em

  .topic-card-description
    flex-grow: 2

  .topic-card-footer
    text-align: right
    align-self: flex-end
    width: 100%

  .budget
    margin: 0
    color: #999
    font-weight: 900
    line-height: 1
    font-size: 24px

  .social-links
    position: absolute
    left: 15px
    bottom: 15px
    font-size: 20px

    span
      cursor: pointer
      margin-right: 7px
      color: #999

    .wp
      width: 25px
      height: 20px
      background-size: contain
      background-repeat: no-repeat
      display: inline-block
      margin-top: 0
      background-image: unquote("url('/ext/lib/site/topic-layout/whatsapp-logo-gris.svg')")
