.notifications-page
  max-width 600px
  width 90%
  h1
    color #666
    font-weight 300
    margin 1em 0 0.7em
  .notifications-empty
    padding 10px
    background #f1f1f1
    p
      margin 0
      color #555
// @media only screen and (max-width: 600px)
//   max-width 100%
//   padding 0 10px

  
// table
//   tr
//     cursor pointer
//   td
//     vertical-align middle !important

//   img
//     max-height 40px
//     max-width 40px
//     border-radius 50%

//   .small
//     font-size 75%