.notifications-page
  max-width 600px
  width 90%
  h1
    color #666
    font-weight 300
    margin 1em 0 0.7em
  .notifications-empty
    padding 10px
    background #f1f1f1
    p
      margin 0
      color #555
  .notification-link
    display flex
    align-items center
    color #555
    padding 20px 0
    border-top 1px solid #ccc
    .notification-content
      flex 1
      span
        margin-right 5px
      p.ago
        margin 0
    .verb, .on
      font-weight 100
    .notification-icon
      font-size 20px
      margin-right 20px
    img
      border-radius 50%
      width 30px
      height 30px
