a.new
  margin-left 20px

.deployment-item
  &:hover
    cursor pointer

  .thumbnail
    &:hover
      background-color #fcf8e3

    height 400px
    .caption
      .category
        position absolute
        top 10px
        right 0
        background-color black
        color white
        text-transform uppercase
        font-weight bold
        margin-right 20px
        padding-right 20px
        padding-left 10px
        font-size 0.8em

      h3.title
        margin-top 0

      .url
        position absolute
        bottom 40px
        text-align center

        a
          padding-left 0

  h4.list-group-item-heading
    margin-top 5px

.crop
//  width 200px
  height 150px
  overflow hidden

.crop img
//  width 400px
  height 300px
  margin -75px 0 0 0px