.presupuesto-share
  max-width: 350px
  min-width: 250px
  margin: 0 auto
  .sharer-header
    background: #f2f2f2
    color: #31506c
    position: relative
    min-height: 120px
    border-bottom: 4px solid #31506c
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 40px 20px 20px
    .numero-proyecto
      background: #31506c
      color: #fff
      position: absolute
      top: 10px
      right: 0
      padding: 5px 10px
    .votos-proyecto
      font-size: 35px
      font-weight: 500
    .winner-proyecto
      text-transform: uppercase
      font-size: 20px
      font-weight: 500
  .sharer-body
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 20px
    span
      color: #a6a6a6
      font-size: 22px
  .social-links
    background-color: #f7941d
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    padding: 15px
    .hashtag
      margin-right: 10px
      font-size: 15px
    a
      width: 40px
      height: 30px
      background-size: auto 30px
      background-repeat: no-repeat
      display: inline-block
      margin-top: 20px
    .fb
      font-size: 30px
      margin-right: 5px
    a.tw
      background-image: unquote("url('/ext/lib/site/topic-layout/icon-twitter@3x.png')")
      margin: 0
