.presupuesto-share.pendiente
  max-width: 350px
  min-width: 250px
  margin: 0 auto
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif
  .sharer-pending
    background: #f2f2f2
    color: rgb(67,67,71)
    min-height: 120px
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    padding: 25px 0
    .pending-header
      display: flex
      justify-content: space-between
      align-items: baseline
      width: 100%
      font-size: 24px
      .presupuesto
        padding-left: 20px
        font-weight: 500
      .numero-proyecto
        padding: 5px 15px
        font-weight: bold
        background-color: #f7941d
        color: #fff
    .pending-body
      display: flex
      flex-direction: column
      align-items: center
      .presu-proyecto
        margin: 20px 0 15px
        font-weight: 500
        font-size: 48px
        color: rgb(0,175,239)
      .btn-pending
        color: #fff
        background-color: rgb(32,199,89)
        padding: 15px 20px
        border: 1px solid rgb(32,199,89)
        border-radius: 8px
        text-transform: uppercase
        font-weight: 700
  .social-links
    background-color: #f7941d
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    padding: 15px
    .hashtag
      font-size: 18px
    a
      width: 35px
      height: 20px
      background-size: auto 20px
      background-repeat: no-repeat
      background-position: center
      display: inline-block
    span
      .fb-share
        width: 30px
        height: 20px
        margin: 0 4px 2px 7px
        background-size: auto 20px
        background-repeat: no-repeat
        background-position: center
        display: inline-block
        background-image: unquote("url('/ext/lib/site/topic-layout/fb-icon.svg')")
    a.tw
      background-image: unquote("url('/ext/lib/site/topic-layout/tw-icon.svg')")
      margin-bottom: 1px
      
.presupuesto-share.ganador
  max-width: 450px
  min-width: 250px
  margin: 0 auto
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
  .box-header
    display: flex
    justify-content: center
    align-items: center
    padding: 7px 0
    background-color: #20c759
    color: white
    font-weight: bold
    font-size: 28px
    text-transform: uppercase
  .box-content
    display: flex
    justify-content: space-around
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap
    padding: 10px 0
    background-color: #f2f2f2
    .box-content-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      margin: 5px 10px
      .box-content-title
        font-weight: 500
        font-size: 22px
        color: #434347
      .box-content-info
        color: #00afef
        font-weight: 500
        font-size: 48px
  .box-footer
    display: flex
    justify-content: center
    align-items: center
    padding: 15px 10px
    background-color: #f7941d
    color: #ffffff
    .hashtag
      font-size: 22px
      margin-right: 9px
      @media screen and (max-width: 450px)
        font-size: 20px
    a
      margin: 0 9px
    a.fb
      width: 24px
      height: 22px
      background: unquote("url('/ext/lib/site/topic-layout/fb-icon.svg')") no-repeat center
      background-size: contain
      margin-bottom: 1px
    a.tw
      width: 24px
      height: 25px
      background: unquote("url('/ext/lib/site/topic-layout/tw-icon.svg')") no-repeat center
      background-size: contain