.presupuesto-share
  max-width: 350px
  min-width: 250px
  margin: 0 auto
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif
  .sharer-header
    background: #f2f2f2
    color: #31506c
    position: relative
    min-height: 120px
    border-bottom: 4px solid #31506c
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 40px 20px 20px
    .numero-proyecto
      background: #31506c
      color: #fff
      position: absolute
      top: 10px
      right: 0
      padding: 5px 10px
    .votos-proyecto
      font-size: 35px
      font-weight: 500
    .winner-proyecto
      text-transform: uppercase
      font-size: 20px
      font-weight: 500
  .sharer-body
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 20px
    span
      color: #a6a6a6
      font-size: 22px
      &.anio-proyecto
        font-size: 14px
  .sharer-pending
    background: #f2f2f2
    color: rgb(67,67,71)
    min-height: 120px
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    padding: 25px 0
    .pending-header
      display: flex
      justify-content: space-between
      align-items: baseline
      width: 100%
      font-size: 24px
      .presupuesto
        padding-left: 20px
        font-weight: 500
      .numero-proyecto
        padding: 5px 15px
        font-weight: bold
        background-color: #f7941d
        color: #fff
    .pending-body
      display: flex
      flex-direction: column
      align-items: center
      .presu-proyecto
        margin: 20px 0 15px
        font-weight: 500
        font-size: 48px
        color: rgb(0,175,239)
      .btn-pending
        color: #fff
        background-color: rgb(32,199,89)
        padding: 15px 20px
        border: 1px solid rgb(32,199,89)
        border-radius: 8px
        text-transform: uppercase
        font-weight: 700
  .social-links
    background-color: #f7941d
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    padding: 15px
    .hashtag
      margin-right: 10px
      font-size: 18px
    a
      width: 30px
      height: 20px
      background-size: auto 20px
      background-repeat: no-repeat
      display: inline-block
      //margin-top: 20px
    a.fb
      font-size: 30px
      //margin-right: 5px
    span
      .icon-social-facebook
        background-image: unquote("url('/ext/lib/site/topic-layout/fb-icon.svg')")
    a.tw
      background-image: unquote("url('/ext/lib/site/topic-layout/tw-icon.svg')")
      margin-bottom: 2px