.comments-admin
  .well
    display: flex
    justify-content: space-between
    align-items: center
    .comments-filters
      display: inline-block
      select
        background-color: #e5e5e5
        font-size: 15px
        cursor: pointer
        color: #444
        padding: 4px 6px
        border-radius: 2px
        border: none
