#forum-wrapper.admin-wrapper
  .admin-comments
    .actions.well
      a.btn.btn-primary(href=urlBuilder.for('admin.comments.csv', {forum: forum}), target='_blank')= t('admin-comments.dowload-as-csv')
