.email-validation-container.inner-container
  ul.form-errors.hide
  form.form(action='/signup/validate', method="post", role="form", autosubmit='autosubmit')
    input(type='hidden', name='token', value=token)