.admin-permissions-role
  .title(data-title)
    h3= t('admin-permissions.roles.' + role + '.title')
  p.help-block= t('admin-permissions.roles.' + role + '.description')

  .admin-permissions-users(data-list)
