extends layout

block content
	.hero-unit.welcome
		h1 Democracia en Red
		p
		p ... is an online space for deliberation and voting on political proposals. The software aims to stimulate better arguments and come to better rulings.

		p: a.btn.btn-primary.btn-large(href='#') Participa »

	.row.box-homepage-list
		- for(var i=0; i< 12; ++i){
			.span3.box-homepage
				h5(style="background-color:#aa3")= "#sofware"
				.box-content
					h4 
						a(href="/issues/1234")= "Por una ciudad mejor"
					p= "En una ciudad donde las cosas se resuelven entre todos... es la ciudad en que quiero vivir con[...]"

				.users
					a(href="/profiles/123123", rel="tooltip", title="Cristian Douce", data-placement="bottom", class="tt")
						img(src="https://api.twitter.com/1/users/profile_image?screen_name=cristiandouce&size=bigger")
				a(href="/issues/1233").arrow
		- }
	.clear