extends layout

block aside
	nav.sidebar-nav
		ul.nav.navlist
			li.active
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas

			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		

		

block content
	article.proposal
		h2 Title Example

		.meta-data
			a(href="").meta-item.meta-time 10 days left
			a(href="").meta-item.meta-location Buenos Aires, Argentina

			a(href="").meta-item.meta-delegation Delegated on Ricardo Rauch
			a(href="").meta-item.meta-tag #Tag

		p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sodales mi. Nullam non nisi sit amet elit interdum pellentesque. Curabitur lobortis neque eu turpis dictum laoreet.
		p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sodales mi. Nullam non nisi sit amet elit interdum pellentesque. Curabitur lobortis neque eu turpis dictum laoreet.
		p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sodales mi. Nullam non nisi sit amet elit interdum pellentesque. Curabitur lobortis neque eu turpis dictum laoreet.
		p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sodales mi. Nullam non nisi sit amet elit interdum pellentesque. Curabitur lobortis neque eu turpis dictum laoreet.

		hr 

		footer.footer-notes  
			h5 Referencias
			ol 
				li Referencia 1: http://wikipedia.org
				li Referencia 2: http://wikipedia.org
				li Referencia 3: http://wikipedia.org
				li Referencia 4: http://wikipedia.org
				li Referencia 5: http://wikipedia.org
				li Referencia 6: http://wikipedia.org


		.participants 
			span 4 Participants 
			a(href="").participant-profile
				img(src="https://si0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm.jpeg").avatar

	.comments
		h4 Comments 
		ul.media-list
			li.media 
				a(href="").pull-left
					img(src="https://si0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm.jpeg").avatar

				.media-body
					h5.media-heading Media heading
					p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sodales mi. Nullam non nisi sit amet elit interdum pellentesque. Curabitur lobortis neque eu turpis dictum laoreet.




