extends layout

block aside
	nav.sidebar-nav
		ul.nav.navlist
			li.active
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas

			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		
			li
				a(href="")
					span.title Title Example
					span.created-by Creador por Ricardo Rauch hace 3 horas
		

		

block content
	h2 Title Example
	p	asdasdasdasdasdasd