extends layout

block aside
	.span3
		nav.well.sidebar-nav
			ul.nav.navlist
				li asdasdasdasd
				li asdasdasdasd
				li asdasdasdasd
				li asdasdasdasd
				li asdasdasdasd
				li asdasdasdasd
				li asdasdasdasd

block content
	.span9
		p	asdasdasdasdasdasd