extends ../../layout/index.jade

block styles
  //- Boostrap Complete
  link(
    rel='stylesheet',
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css')

  //- Application Styles
  link(rel='stylesheet', href='/settings.css')
  
block content
  section#content.site-content
  
block scripts
  script(src='/settings.js')
