form.comment-edit-form
  textarea
    width: 100%
    resize: none

  .form-messages
    color: #c0392b
    margin-left: 10px

  .btn
    font-size: 12px !important

  .form-submit
    background-color: #333
    color: #fff

  .btn-cancel
    background-color: transparent
    color: #3d699e
