.tweets-box
  display: flex
  flex-wrap: wrap
  .tweet-box-lg
    flex: 2
    min-width: 350px
    &::before
      content: ""
      display: block
      padding-top: 50%
    .tweet-content
      display: flex
      justify-content: center
      flex-direction: column
      margin: 0 auto
  .tweet-box-sm
    flex 1
    min-width: 288px
    &::before
      content: ""
      display: block
      padding-top: 100%
  .tweet-box
    position: relative
    .tweet-content
      position:  absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-size: cover
      background-position: center
    .tweet-bird
      z-index: 9
      width: 30px
      height: 30px
      position: absolute
      top: 0
      left: 0
      margin: 16px
      background-size: contain!important
      background-repeat: no-repeat!important
      background: unquote("url('/ext/lib/site/home-multiforum/tw-icon.png')")
    .tw-link
      background: unquote("url('/ext/lib/site/home-multiforum/tw-icon.png')")
    .fb-link
      background: unquote("url('/ext/lib/site/home-multiforum/fb-icon.png')")
    .yt-link
      background: unquote("url('/ext/lib/site/home-multiforum/yt-icon.png')")
    &.placeholder
      background-color: #e0e0e0
      .tweet-bird
        width: 100%
        height: 100%
        background-position: center
        background-size: 100px!important
        margin: 0
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 6
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 3
    &:nth-child(5)
      order: 4
    &:nth-child(6)
      order: 5
    &:nth-child(7)
      order: 7
    &:nth-child(8)
      order: 8
    @media (max-width: 1222px)
      &:nth-child(7)
        display: none
      &:nth-child(8)
        display: none
    @media (max-width: 930px)
      &:nth-child(8)
        display: block
    @media (max-width: 830px)
      &:nth-child(8)
        display: none
  .tweets-logo
    order: 1
    background: #e9eaee
    .tweet-content
      width: 217px
    span
      text-transform: uppercase
      font-size: 50px
      line-height: 45px
    .rosario
      color: #00adef
    .cerca
      color: #f7941d
  .tweets-links
    order: 6
    background: #00adef
    .tweet-content
      display flex
      justify-content: center
      width: 330px
      &>a
        color: #fff
        font-size: 20px
        font-weight: 500
        margin: 10px 0
        padding-left: 40px
        background-repeat: no-repeat
        background-position: left center
        background-size: 30px auto
        &>span
          font-weight: 100
