.custom-attrs-wrapper
  padding: 0 0 .6em
  border-bottom: 1px solid #e5e5e5
  margin: 2em 0

  legend
    margin-bottom: .5em

.custom-attrs
  label
    display: block

    & > span
      display: block
      font-weight: 100

    input,
    select
      display: block
      width: 100%
