@import '../../boot/vars'

.sidebar-list
  li
    &.active
      a
        color black
        background #fff

      span.title
        color inherit

    a.voted
      min-height 75px

    a
      padding-left spacing
      padding-top 14px
      padding-bottom 14px
      color inherit
      position relative
      min-height 60px

    .item-badges
      position absolute
      left spacing + 7
      top spacing + 34
      color white

      img
        width 16px
        height 12px
        position absolute
        z-index 100
        left 5px
        top 2px

    &:hover
      background #fff

    span.title
      font-size 15px
      line-height 19px
      font-weight 700
      display block
      margin-bottom 0px
      color #666

    span.created-by
      font-size 11px
      opacity .5
      font-weight normal
