.ext-home-consultas
  @import './topic-card/styles'

  .empty-msg
    padding: 4em 0 8em

    .alert
      margin: 0 auto
      max-width: 480px
      text-align: center

  .topics-container
    position: relative
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom: 60px

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
