.ext-home-consultas
  @import './topic-card/styles'

  .topics-container
    position: relative
    display flex
    flex-wrap wrap
    justify-content center
    margin-bottom: 60px

  .cover
    display: flex
    align-items: center
    padding: 70px 0
    color: #fff
    text-align: center
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-image: unquote("url('/ext/lib/site/boot/bg-home-forum.jpg')")

    .isologo.consultas
      margin: 0 auto
      width: 196px
      height: 196px
      border-radius: 50%
      background-color: #3dacf1
      background-repeat: no-repeat
      background-position: center center
      background-size: 150px
      background-image: unquote("url('/ext/lib/site/home-multiforum/consulta-icono.png')")

    h1
      margin: 0 0 20px
      font-size: 3em
      text-shadow: 2px 2px 4px rgba(81, 81, 81, .8)

    p
      margin: 0
      font-size: 1.5em
      line-height: 1.3
      font-weight: 500

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
