.ideas-topic-card
  width: 100%
  margin: 0 0 1.5em

  .topic-card-title
    margin-bottom: 0

  .participants
    font-weight: 400
    color: #a5a9aa
    margin-bottom: .6em

  .topic-card-footer
    padding: 15px
