.ideas-topic-card
  width: 100%
  margin: 0 0 1.5em

  .topic-card-title
    margin-bottom: 5px

  .participants
    font-weight: 400
    color: #a5a9aa
    // cursor: pointer
    // padding: 5px
    display: inline-block
    span
      color: #ff3131
  .topic-card-info
    padding-bottom: 0

  .topic-card-tags
    margin-top: 10px
    span
      font-weight: 400

  .topic-card-description
    margin: 10px 0 0 0
    a
      font-size: 15px
  .topic-card-footer
    padding: 15px
    display: flex
    justify-content: space-between
    align-items: flex-end

  .topic-creation
    color: #a5a9aa
    font-size: 13px
    margin-bottom: 0.8em
    display: flex
    align-items: center

    i
      margin-right: .5em

    .date
      flex: 1
      text-align: right

    .avatar
      margin-right: 5px
      width: 25px
      height: 25px
      border-radius: 50%
      background-size: cover
      background-position: center center
