.error-message
	background: #ffc5c5
	border-style: 1px solid #961010
	border-radius: 2px
	color: #961010
	margin: 10px
	text-align: center
.success-message
	background-color: #afffaf
	border-radius: 2px
	margin: 10px
	color: #555
	text-align: center
.wrapper-select
	display: flex
	justify-content: space-between
	align-items: baseline
	.stage-label
		font-size: 16px
		font-weight: normal
		line-height: 1.4
		margin-right: 10px
	.select-stage
		background-color: #FFF
		border-radius: 2px
		height: 34px