.wrapper-container
	display: flex
	justify-content: space-between
	.wrapper-select
		.stage-label
			font-size: 16px
			font-weight: normal
			line-height: 1.4
			margin-right: 5px
		.select-stage
			background-color: #FFF
		