.forgot-container
  #forgot-form
    h1= t('Forgot Password?')
    form(action="/forgot", method="post")
      ul.form-errors
      .form-group
        label= t('Email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('example@email.com'))
      .form-group: input.btn.btn-primary(type='submit', tabindex=2, value=t('Reset Password!'))
