form(action="/forgot", method="post")
  ul.form-errors
  .form-group
    label= t('Email')
    input(type='email', name='email', placeholder=t('example@email.com'))
  .form-group: input(type='submit', value=t('Reset Password!'))
