p #{t('Hi {name}', {name: citizenName})},
p !{t('Please click <a href="{url}">here</a> to reset your password', {url: resetUrl})}.
p #{t('The DemocracyOS team')}.
p #{t("PS: if you haven't requested to reset your password, please ignore this email")}.