.proyecto-container
  .created-at
    text-align: right

  @import '../../../../../lib/site/topic-layout/topic-article/comments/styles'
  @import '../../../../../lib/site/topic-layout/topic-article/poll/styles'
  @import '../../../../../lib/site/topic-layout/topic-article/cause/styles'
  @import './presupuesto-share/styles'
  @import './common-share/styles'

.no-cover
  min-height: initial!important
  h1
    color: #444
    text-shadow: none!important
.editar-idea
  float: right
