.ext-home-ideas
  @import './topic-card/styles'

  .crear-idea
    margin-top: 1em

  .topics-container
    padding-top: 2em
    max-width: 960px

  .forum-tags
    font-size: 1.4em

    .badge
      margin: 0 .4em .4em 0

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
