.ext-home-ideas
  @import './topic-card/styles'

  .etiquetas
    h3
      margin: 0 0 10px 0
      font-size: 20px
      color: #666
      font-weight: 500

    .forum-tags
      font-size: 1.3em
      margin-bottom: 15px

      .badge
        margin: 0 .4em .4em 0
        &.active
          background: #ccc

  .list-tools
    display: flex
    align-items: center
    justify-content: space-between
    margin: 2em 0 1em
  .topics-filter
    display: inline-block

    button
      border: 0
      margin-right: .5em
