.comments-filter
  float right
  position relative

  &.active
    .dropdown-list
      display block

  &.hide
    display none

  .btn
    background-color transparent
    color #3d699e
    font-size 12px
    font-weight normal
    text-align center
    text-transform none
    padding 0 20px 0 10px

    .caret
      color #3d699e

  .dropdown-list
    display none
    position absolute
    right 0
    z-index 1000
    margin-top 2px
    padding 5px 0
    min-width 160px
    width 100%
    font-size 14px
    list-style none
    border-radius 2px
    border 1px solid rgba(#000,.15)
    box-shadow 1px 1px 4px -1px rgba(#000, .175)
    text-align right
    background-color #f9f9f9

    li
      background-color #f9f9f9

      a
        display block
        clear both
        padding 6px 14px
        line-height 1.5
        color #3d699e
        font-weight 400
        font-size 12px
        white-space normal

@media only screen and (max-width : 700px), screen and (-webkit-min-pixel-ratio : 1.5), screen and (min-pixel-ratio : 1.5)
  .comments-filter .btn:not(.btn-caret) :not(strong)
    display none

  .comments-filter .btn
    padding-right 0