.export-update
	display flex
	clear both
	margin-top 10px
	align-items baseline
	align-content space-around
	flex-wrap wrap
	a
		margin-right 10px
		@media only screen and (max-width: 500px)
			margin-bottom 10px
	.label-file
		padding 9px 12px
		#input-file
			display none
	.error-message
		width 100%
		p
			display inline-block
			background #ffc5c5
			color #961010
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
	.success-message
		width 100%
		p
			display inline-block
			background #27ae60
			color #fff
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
