script.
  // Get rid of the Facebook residue hash in the URI
  // Must be done in JS cuz hash only exists client-side
  // IE and Chrome version of the hack
  if (String(window.location.hash).substring(0,1) == "#") {
    window.location.hash = "";
    window.location.href=window.location.href.slice(0, -1);
  }
  // Firefox version of the hack
  if (String(location.hash).substring(0,1) == "#") {
    location.hash = "";
    location.href=location.href.substring(0,location.href.length-3);
  }