style.
  .ssl-warning {  
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: #c0392b;
  }
  
  .ssl-warning a {  
    color: #fff;
  }

.ssl-warning
  a(href='//docs.democracyos.org/configuration.html#ssl')
    = t('header.insecure-warning')
