#topic-wrapper
  .alert-danger
    color #d95e59
    a
      color #952722
  form
    .form-group
      span.error
        top 40px

    .link-group
      span.error
        top 40px
        right 20px

  .publish-status
    p
      padding 10px
      text-align center

      a
        font-size 12px
        text-decoration underline
        letter-spacing 0.04em

      span
        margin-right 5px
        letter-spacing 0.04em

  .topic-admin
    form
      .form-group.closingAt
        overflow hidden

        .input-group
          width 40%
          width calc(50% - 6px)
          float left
          margin-left 0

          &:last-child
            margin-left 12px

        span.error
          top 10px

      .form-group
        input[readonly]
          background-color #fff
          cursor default

      textarea
        min-height 180px

      a.add-link
        width 100%
        margin 15px 0px

      a.add-link.btn-info
        background #16a085

      span.add-link-forbidden
        display block
        width 100%
        color #F00
        text-align center

    .topic-links
      overflow hidden

    .topic-link
      display block
      position relative
      float left
      width 100%

      .link-row
        display block
        position relative
        float left
        width 100%
        margin 0px
        padding 10px 0px

        .link-group
          display block
          position relative
          float left
          width 45%
          margin 0px
          padding 0px

          label
          input
            width 95%
            float left

          &.link-commands
            width 10%
            a
              padding 0
              margin-top 4px

              span
                color lightgray

      h4
        margin-top 0

  .commands
    margin 30px 0

    .btn
      width 100%
      margin-bottom 3px

.popover
  display block !important
  cursor default

.clock
  font-size 14px

.clock
  td
    padding 2px
