#topic-wrapper
  width: 100%

  @import './topic-article/styles'

  .topic-comments
    padding-bottom: 150px

  .proyecto-container
    width: 100%

    .proyecto-container-header
      padding-top: 2em
      padding-bottom: 2em
      min-height: 320px
      text-align: center
      
      display: flex
      align-items: center
      justify-content: center
      background-size: cover
      background-position: center center

      .header-content
        color: #fff

        h1
          margin: 0 0 .2em
          font-size: 58px
          font-weight: 500
          line-height: 1.2
          text-shadow: 2px 2px 4px rgba(81, 81, 81, 0.8)

        p
          text-shadow: 2px 2px 4px rgba(81,81,81,0.8)

  .proyecto-main
    padding-top: 50px
    padding-bottom: 40px

    .volver
      color: #f7941d
      font-size: 16px
      font-weight: 500
      i
        font-size: .7em
    .preguntas
      color: #00a8e8
      font-size: 24px
      font-weight: 100
      margin: 30px 0 0
    .clauses
      margin-top: 20px
    .proyecto-share
      .sharer
        font-size: 2em
      &>div
        background-color: #294b68
        color: #fff
        padding: 40px 30px
        text-align: center
        .hashtag
          background-color: #f7941d
          font-size: 15px
          padding: 5px 15px
          margin: 0 0 20px

        & > span
          display: block

        a
          width: 40px
          height: 30px
          background-size: auto 30px
          background-repeat: no-repeat
          display: inline-block
          margin-top: 20px
        a.tw
          background-image: unquote("url('/ext/lib/site/topic-layout/icon-twitter@3x.png')")
          margin-left: 10px
        a.msj
          background-image: unquote("url('/ext/lib/site/topic-layout/icon-mail@3x.png')")
          margin-left: 10px

  .proyecto-content
    margin-bottom: 32px
