#topic-wrapper
  width: 100%

  @import './topic-article/styles'

  .topic-comments
    padding-bottom: 150px

  .proyecto-container
    width: 100%

    .proyecto-container-header
      padding-top: 2em
      padding-bottom: 2em
      min-height: 250px
      text-align: center

      display: flex
      align-items: center
      justify-content: center
      background-size: cover
      background-position: center center

      .header-content
        color: #fff

        h1
          margin: 0 0 .5em
          font-size: 58px
          font-weight: 500
          line-height: 1.2
          text-shadow: 2px 2px 4px rgba(81, 81, 81, 0.8)

        p
          text-shadow: 2px 2px 4px rgba(81,81,81,0.8)
          font-size: 1.5em

  .proyecto-main
    padding-top: 50px
    padding-bottom: 40px

    .volver
      color: #f7941d
      font-size: 18px
      font-weight: 200
      i
        font-size: .7em
    .preguntas
      color: #00a8e8
      font-size: 24px
      font-weight: 100
      margin: 30px 0 0
    .clauses
      margin-top: 20px
      font-weight: 200

  .proyecto-content
    margin-bottom: 32px
