.ext-home-desafios
  @import './topic-card/styles'

  .topics-container
    position: relative
    display flex
    flex-wrap wrap
    justify-content center
    margin: 30px 0 60px

  .topics-filter
    margin: 2em 0 1em

    button
      border: 0
      margin-right: .5em
