.ext-home-multiforum
  @import './cover/styles'
  @import './steps/styles'

  .section-title
    display: inline-block
    margin: 0 0 1em
    padding: 8px 10px
    font-size: 14px
    color: #fff
    font-weight: 400
    background-color: #f7941d

  .section-subtitle
    margin-top: 0
    font-size: 24px
    font-weight: 400
    color: #4f5353

  .info
    padding: 0 0 300px
    display: flex
    flex-direction: column
    align-items: center
    background-image: unquote('url("/ext/lib/site/home-multiforum/city@3x.png")')
    background-repeat: repeat-x
    background-position: bottom
    background-size: auto 200px
    position: relative

  .action
    width: 100%
    display: flex
    justify-content: center
    padding: 50px 15px 70px
    position: relative

    &:nth-child(odd)
      background-color: #f7f7f7

    .action-content
      max-width: 677px

    h3
      color: #3ba4ce
      margin: 9px 0
      font-size: 40px
      font-weight: 400

    h4
      color: #3ba4ce
      margin: 33px 0 26px
      font-size: 34px
      font-weight: 200

    p
      font-weight: 200
      font-size: 23px
      line-height: 30px
      margin-bottom: 50px
      color: #818181

    .action-separador
      height: 4px
      width: 255px
      display: block
      background-color: #3ba4ce
      margin-bottom: 20px

    .action-img
      display: none
      min-width: 200px
      height: 200px
      margin: 50px 30px 0 0
      background-size: 150px
      background-position: 50% 50%
      background-repeat: no-repeat
      background-color: #3ba4ce
      border-radius: 50%

      @media screen and (min-width: 501px)
        display: block

  .action-consulta
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/consulta-icono.png')")

  .action-presupuesto
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/presupuesto-icono.png')")

  .action-desafio
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/desafio-icono.png')")

  .action-voluntariado
    .action-img
      background-image: unquote("url('/ext/lib/site/home-multiforum/voluntariado-icono.png')")
