#admin-container
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px

  #admin
    position relative
    max-width 780px
    min-height 100%
    margin 0px auto

    .sidebar-container
      position absolute
      width 180px
      height 100%
      padding-left 20px

    .admin-content
      height 100%
      max-width 500px
      min-width 350px
      margin-left 180px
      margin-right auto
      padding 40px 25px

    .btn
      font-weight 600
      letter-spacing 0.04em
      padding 5px 10px

    .btn
    input
    textarea
    select
    #button
      border-radius 2px

    input[type="submit"].btn
      font-weight normal

    label
      margin-bottom 10px