#admin-container
  position absolute
  top 70px
  left 0px
  right 0px
  bottom 0px

  #admin
    position relative
    min-height 100%
    margin 0px auto

    .btn
      font-weight 600
      letter-spacing 0.04em
      padding 5px 10px

    .btn
    input
    textarea
    select
    #button
      border-radius 2px

    input[type="submit"].btn
      font-weight normal

    label
      margin-bottom 10px

  button.sort
    margin-left 5px

  span.sort-label
    margin-right 5px