#admin-container
  padding 1em 0

  #admin
    position relative
    min-height 100%
    margin 0px auto

    .btn
      font-weight 600
      letter-spacing 0.04em
      padding 8px 10px 6px

    input[type="submit"].btn
      font-weight normal

    label
      margin-bottom 10px

  button.sort
    margin-left 5px

  span.sort-label
    margin-right 5px

@import './wrappers'
@import './heading'