.forum-tag-search
  position: relative
  .tag-list
    padding: 0
    margin: 0
    list-style: none
    position: absolute
    top: 100%
    background: #fff
    z-index: 1
    width: 100%
    border: 1px solid #ccc
    border-top: none
    li
      padding: 5px 8px
      &:hover, &.active
        background: #337ab7
        color: #fff
