/* Vars
-------------------------------------------------- */
border_radius = 2px

/* Topic view
-------------------------------------------------- */
article.proposal
  margin 2em auto 0
  min-height 300px
  position relative

  .entry-content
    font-family 'Noto Serif', serif
    line-height 1.6

  a:hover
    color #3d699e
    text-decoration underline

  img
    max-width 100%

  h1
    margin-top 0

  .entry-tag
    font-weight bold
    font-size 11px
    text-transform uppercase
    text-align center
    position absolute
    left -140px
    width 100px
    top 44px

    img
      width 40px
      height 40px
      left 30px
      top 20px
      position absolute

    .hexagon
      width 80px
      height 80px


  .body
    font-size 110%
  .summary
    font-size 16px
    margin 40px 0

  .clauses
    margin-top 20px

    .clause
      margin-bottom 20px
      word-wrap break-word
      img
        width 100%

  h2.author
    color #666
    font-size 16px
    font-weight normal
    margin 0

  .meta-information
    margin-bottom 10px
    color #666
    font-size 16px

    .icon-time
      margin-right 6px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  hr
    border-top 4px solid #eee
    width 50%

  .read-more
    display block
    text-transform capitalize
    margin-top 10px
    margin-bottom 20px
  .footer-notes
    color #666
    margin-bottom 20px

  .participants
    font-weight bold
    padding 10px 0
    margin 30px 0

    .view-more
      padding 2px 10px
      margin-left 6px
      margin-top 2px
      display inline-block
      border-radius border_radius

  .source
    p
      span.glyphicon
        font-size 12px
        margin-right 5px
      a
        font-size 16px
        color #333
        font-weight bold

  .links
    background-color #f0f0f0
    padding 6px 12px
    p
      margin 0
      margin-bottom 5px
      padding-left 12px
      span.glyphicon
        font-size 12px
        margin-right 5px
      a
        font-size 14px
        color #3d699e
        font-weight bold

  .share-links
    margin-bottom 40px
    a
      background #666
      padding 10px
      margin-right 10px
      border-radius border_radius
      color white
      display inline-block
      line-height 10px
      -webkit-transition all 0.3s ease
      &:hover
        text-decoration none
      &.facebook:hover
        background #3b5998
      &.twitter:hover
        background #3498db

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none
