.topic-article-wrapper>*
  max-width 700px
  width 90%

.topic-article-wrapper
  overflow auto
  display: flex;
  flex-direction: column;
  align-items: center;
  flex 1
  @import './header/styles'
  @import './content/styles'
  @import './footer/styles'
  @import './decision-maker/styles'
  @import './participants/styles'

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none
// @media screen and (max-width: 700px)
//   .topic-article-wrapper>*
//     