.topic-comments
  padding-top: 3em
  border-left: 1px solid #f0f0f0
  background-color: #f9f9f9

  .topic-comments-title
    margin: 0 0 20px
    font-size: 1em

@import './form/styles'
@import './list/styles'
@import './order-by/styles'
