.topic-comments
  padding-top: 3em
  border-left: 1px solid #f0f0f0
  background-color: #f9f9f9

  .topic-comments-title
    margin: 0 0 20px
    font-size: 1em

  .load-more
    padding-bottom: 3em

  .comments-dropdown
    position: absolute
    top: 13px
    right: 0
    background: #fff
    border-radius: 2px
    border: 1px solid #ccc
    box-shadow: 0 1px 3px rgba(0,0,0,.12)
    padding: 5px 0
    font-size: .8em
    z-index: 1

    button
      cursor: pointer
      border: 0
      background: transparent
      font-size: 13px
      display: block
      margin: 0 auto
      padding: 5px 10px
      width: 140px
      color: #666
      text-align: center
      white-space: nowrap
      font-weight: 100

      &:hover
        background-color: #f0f0f0

@import './form/styles'
@import './list/styles'
@import './order-by/styles'
