.ext-voting-module
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  width: 100vw
  z-index: 10

  .alert
    margin: 0

  .voting-action
    color: #fff
    width: 100%
    padding: 30px 0
    text-align: center
    background-color: #294b68

    p
      display: inline-block
      margin-left: 1em

    .btn
      color: #fff
      border-color: #fff

      &:hover,
      &:active
        color: #294b68
        background-color: #fff

  .voting-success
    color: #fff
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    padding: 30px 0
    text-align: center
    background-color: #294b68

    h1
      font-size: 24px
      margin: 0 0 15px

    .social-links
      padding: 1em 0 0

    a
      margin: 20px 5px 0
      font-size: 1.8em
      color: #fff
