.admin-permissions
  position relative
  min-height 300px

.admin-permissions-role
  .add-permission
    clear both

.admin-permissions-user
  display flex
  align-items center
  align-content center
  white-space nowrap
  margin-bottom .5em
  padding .5em
  font-size 1em
  border-radius 2px
  transition background-color .05s .05s

  &:hover
    background-color #f9f9f9

  img
    width 2.1em
    border-radius 2px

  p
    flex-grow 2
    margin 0 .5em
    font-weight bold
    text-overflow ellipsis
    overflow hidden
    cursor default
