@import './lib/admin-permissions/add-user-input/styles'
@import './lib/admin-permissions/role/styles'

.admin-permissions
  position relative
  min-height 300px

  &.loading
    .loader
      display block
