.admin-permissions
  position relative
  min-height 300px

.admin-permissions-role
  .add-permission
    clear both

.admin-permissions-user
  float left
  margin-right 10px
  margin-bottom 10px
  width 16em
  font-size 1em

  img
    float left
    margin-right .5em
    width 2.6em
