.login
  padding 0 12px
  margin 0
  line-height 1

  i
    display none
    font-size 20px
  &:hover
    text-decoration none
@media screen and (max-width: 700px)
  .login
    margin-left: 10px
    span
      display block!important
    i
      display inline-block
