#feed
  display: flex
  flex-wrap: wrap
  align-items: stretch
  justify-content: center
  padding: 50px
  background: #00adef
  @import '../../home-presupuesto/topic-card/styles'
  @import '../../home-consultas/topic-card/styles'
  @import '../../home-desafios/topic-card/styles'
  @import '../../home-ideas/topic-card/styles'
  @import '../../home-voluntariado/topic-card/styles'
  .btn-primary
    color: #fff
