extends ../../../../lib/site/layout/index.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,900|Noto+Serif:100,400,700&subset=latin-ext', rel='stylesheet', type='text/css')

- if (config.ext.facebookTrackingId)
  append scripts
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '#{config.ext.facebookTrackingId}'); 
      fbq('track', 'PageView');

    noscript
      <img height="1" width="1"  src="https://www.facebook.com/tr?id=#{config.ext.facebookTrackingId}&ev=PageView">
