extends ../../../../lib/site/layout/index.jade

block fonts
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900|Noto+Serif:100,400,700&subset=latin-ext', rel='stylesheet', type='text/css')
