.edit-form
  text-align: right;
  margin: 0
  textarea
    width: 100%
    border: 1px solid #ebebeb
    outline: none
    resize: none
    margin-bottom: 10px
    font-size: 0.875em
    overflow: hidden
  button
    margin: 0 0 10px 10px
.text
  margin-bottom: 15px
  font-size: .875em

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p
    margin: 0
    font-size: inherit
    line-height: 1.6
