.ext-site-header
  padding: 0
  color: #525252
  background-color: #fff

.ext-site-header-prefix
  background-color: #1DAEEC
  img
    padding: 10px 15px
    max-width: 120px

  @media (max-width: 500px)
    display: none
  a
    color: #fff
    height: 100%
    display: inline-flex
    width: auto
    align-items: center
    padding: 0 5px
    margin-left: -5px
    &:hover
      color: #fff
      background: rgba(255,255,255,0.1)

.ext-site-header-main
  border-bottom: 3px solid #F59231

  & > .container-simple
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    height: 100px
    @media (max-width: 500px)
      height: 50px

  .current-date
    display: none
    font-size: .8em
    color: #565656

    @media (min-width: 992px)
      display: block

    span
      display: block

  .logo
    margin: 0
    img
      max-width: 360px
      @media (max-width: 500px)
        max-width: 200px

  .user-nav
    @import '../../../../lib/site/header/user-badge/styles'

    .user
      justify-content: flex-end

    .user-badge
      position: relative
      margin-left: 8px

      button
        margin: 0

      .dropdown-list
        position: absolute
        top: 100%
        right: 0

    .nav-link
      height: 100%!important
      display: flex !important
      align-items: center
      justify-content: flex-end
      font-weight: 400
      color: inherit
      text-decoration: none
