.ext-auth-facebook-confirm
  padding-top: 3em
  max-width: 300px
  text-align: center

  .title
    font-size: .9em
    color: #999
    margin-bottom: 2em

  .avatar
    margin-bottom: .8em
    width: 4.5em
    border-radius: 50%

  .name
    margin: 0 0 1.6em
    font-size: 1.4em

  .confirm
    margin: 0 auto 1em
    max-width: 200px
