.ext-auth-facebook-confirm
  padding-top: 3em
  max-width: 300px
  text-align: center

  .title
    font-size: .9em
    color: #999
    margin-bottom: 2em

  .avatar
    position: relative
    margin: 0 auto .8em
    width: 4.5em

    img
      border-radius: 50%
      width: 100%

    i
      position: absolute
      right: 0
      bottom: -.4em
      padding: .2em
      color: #fff
      border-radius: 2px
      background-color: #3B5998

  .name
    margin: 0 0 1.6em
    font-size: 1.4em

  .confirm
    margin: 0 auto 1em
    max-width: 200px
