.optional-field
	color: #CCC
	font-size: 0.875em
	margin-left: 20px
	line-height: 1.4
	margin-bottom: 0.5rem
.form-group-documento
	display: flex
	flex-direction: row
	flex-wrap: wrap
	select
		width: 30%
	input
		width: 68%
		margin-left: 5px
		&[type="number"]
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0