.forum-card
  padding 0
  margin-bottom 20px
  font-size 14px
  overflow hidden
  color #fff
  padding 20px
  cursor pointer
  .link
    font-weight inherit
    color inherit
    text-decoration inherit

  .cover
    color #f5f5f5
    background-size cover
    background-repeat no-repeat
    background-position center center

    h1
      color inherit
      margin 2em 0 0
      padding-bottom .2em
      line-height 1.1
      overflow hidden

    p
      margin 0
      line-height 1.5
      color inherit

  .author
    text-align right

    .avatar
      float right
      margin-left 8px
      width 35px
      border-radius 100%

    p
      padding-top 6px
      text-overflow ellipsis
      white-space nowrap
      overflow hidden