.forum-card
  padding 0
  margin-bottom 20px
  font-size 14px
  overflow hidden
  color #fff
  padding 20px
  cursor pointer
  .link
    font-weight inherit
    color inherit
    text-decoration inherit

  .cover
    color #f5f5f5
    background-size cover
    background-repeat no-repeat
    background-position center center

    h1
      color inherit
      margin 2em 0 0
      padding-bottom .2em
      line-height 1.1
      overflow hidden

    p
      margin 0
      line-height 1.5
      color inherit

  .author
    text-align right

    .avatar
      float right
      margin-left 8px
      width 35px
      border-radius 100%

    p
      padding-top 6px
      text-overflow ellipsis
      white-space nowrap
      overflow hidden

.friday
  background #83a4d4
  background unquote("-webkit-linear-gradient(to left, #83a4d4 , #b6fbff)")
  background unquote("linear-gradient(to left, #83a4d4 , #b6fbff)")

.behongo
  background #52c234
  background unquote("-webkit-linear-gradient(to left, #52c234 , #061700)")
  background unquote("linear-gradient(to left, #52c234 , #061700)")

.soundcloud
  background #fe8c00
  background unquote("-webkit-linear-gradient(to left, #fe8c00 , #f83600)")
  background unquote("linear-gradient(to left, #fe8c00 , #f83600)")


.messenger
  background #00c6ff
  background unquote("-webkit-linear-gradient(to left, #00c6ff , #0072ff)")
  background unquote("linear-gradient(to left, #00c6ff , #0072ff)")

.shore
  background #70e1f5
  background unquote("-webkit-linear-gradient(to left, #70e1f5 , #ffd194)")
  background unquote("linear-gradient(to left, #70e1f5 , #ffd194)")

.emokid
  background #556270
  background unquote("-webkit-linear-gradient(to left, #556270 , #FF6B6B)")
  background unquote("linear-gradient(to left, #556270 , #FF6B6B)")

.amethyst
  background #9D50BB
  background unquote("-webkit-linear-gradient(to left, #9D50BB , #6E48AA)")
  background unquote("linear-gradient(to left, #9D50BB , #6E48AA)")

.redmist
  background #000000
  background unquote("-webkit-linear-gradient(to left, #000000 , #e74c3c)")
  background unquote("linear-gradient(to left, #000000 , #e74c3c)")

.parklife
  background #ADD100
  background unquote("-webkit-linear-gradient(to left, #ADD100 , #7B920A)")
  background unquote("linear-gradient(to left, #ADD100 , #7B920A)")

.dirtyfog
  background #B993D6
  background unquote("-webkit-linear-gradient(to left, #B993D6 , #8CA6DB)")
  background unquote("linear-gradient(to left, #B993D6 , #8CA6DB)")


