.tags-moderation
  .sort-buttons
    display: inline-block
    button
      display: block
      text-align: center
      background: transparent
      border: none
      font-size: 10px
      &:hover,&.active
        background: #d8d8d8