.container-banner
    background-color: #F59231
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    align-items: center
    height: 320px
    /*@media (min-width: 1440px)
        padding: 100px 400px
    @media (max-width: 768px)
        padding: 50px 80px
    @media (max-width: 320px)
        padding: 50px 20px*/
    h3
        color: #FFFFFF
        text-align: center
        @media (max-width: 320px)
            font-size: 1em
    .banner-button
        border-radius: 5px
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    
