@import './lib/boot/vars'

.sidebar-list
  li
    &.active
      a
        color black
        background #fff
        .item-tag
          svg.hexagon
            opacity 1

      span.title
        color inherit

    a.voted
      min-height 75px

    a
      padding-left spacing
      padding-top 14px
      padding-bottom 14px
      color inherit
      position relative
      padding-left 70px
      min-height 60px

    .item-tag
      position absolute
      left spacing
      top spacing
      color white
      svg.hexagon
        width 40px
        height 40px
        left 0
        top -8px
        position absolute
        opacity .2
        // polygon
        //  fill #BDC3C7
      img
        width 20px
        height 20px
        position absolute
        z-index 100
        width 30px
        left 5px
        top 2px

    .item-badges
      position absolute
      left spacing + 7
      top spacing + 34
      color white

      img
        width 16px
        height 12px
        position absolute
        z-index 100
        left 5px
        top 2px

    &:hover
      background #fff

    span.title
      font-size 15px
      line-height 19px
      font-weight 700
      display block
      margin-bottom 0px
      color #666

    span.created-by
      font-size 11px
      opacity .5
      font-weight normal
