.topics-cause
  position: relative
  margin-bottom: 20px
  z-index: 0

  .btn
    width: 100%
  
  .voted-box
    .alert-voted 
      display: flex
      justify-content: center
      align-items: center
      
      .bold 
        font-weight: bold
      
      .black 
        color: #000
      
      .thanks 
        margin: 0 10px
    
    .chosen-answer
      text-align: center
