body
  &.signin-page
    header
      &.app-header
        .user-nav
          a[href="/signin"]
            display none
          a[href="/signup"]
            display inline-block

#signin-form
  .form-group
    overflow hidden
    .signup
      float right
      color #666
      font-size 12px
      span
        margin-right 5px
        font-weight bold