.not-allowed
  display flex
  flex-direction column
  justify-content center
  min-height 100%
  background-color rgba(#000, .8)

  .content
    position relative
    margin 0 auto
    padding 1em 1em 2em
    max-width 320px
    text-align center
    color #f9f9f9

  .icon
    margin-bottom 0.6em
    font-size 2em

