.btn-facebook
  color: #fff
  background: #3b5998
  background: unquote("linear-gradient(to bottom, #3b5998, #314b80)")

  i
    font-size: 1.3em
    line-height: 0
    position: relative
    top: .1em
    margin-right: .3em

  &:hover
    opacity .9
    color #f7f7f7

  &:active
    opacity: 1
    color: #f7f7f7
    box-shadow: inset 0 0 8px rgba(#082665, .6)
