#profile-wrapper
  form
    .form-group
      span.error
        top: 40px

  .profile-picture
    margin-bottom: 12px

    .profile-picture-form
      display: flex
      align-items: center

    .image-container
      width: 65px
      margin-right: 10px

      img
        border-radius: 2px

    .controls
      flex-grow: 2

      & > *
        display: block

      a
        font-size: .8em
        margin-bottom: 8px
        font-weight: normal
