.common-share
  max-width: 250px
  margin: 0 auto
  .sharer
    font-size: 2em

  background-color: #294b68
  color: #fff
  padding: 40px 30px
  text-align: center
  .hashtag
    background-color: #f7941d
    font-size: 15px
    padding: 5px 15px
    margin: 0 0 20px

  & > span
    display: block

  a
    width: 40px
    height: 30px
    background-size: auto 30px
    background-repeat: no-repeat
    display: inline-block
    margin-top: 20px
  a.tw
    background-image: unquote("url('/ext/lib/site/topic-layout/icon-twitter@3x.png')")
    margin-left: 10px
  a.wp
    background-image: unquote("url('/ext/lib/site/topic-layout/whatsapp-logo.svg')")
    margin-left: 10px
  a.msj
    background-image: unquote("url('/ext/lib/site/topic-layout/icon-mail@3x.png')")
    margin-left: 10px
