#content-404
  .container-404
    img(src=config['logo'])
    p.note 404
    h1.title=t('This page does not exist')
    p.goback
      =t('go back to') + ' '
      a(href='/', title=t('Go back to DemocracyOS')) DemocracyOS