.comments-sort
  position: relative
  float: right
  z-index: 8

  .comments-sort-btn
    font-size: .8em
    padding: 0 10px 0 0
    outline: none

  .caret
    right: 0
    color: inherit

  .comments-dropdown
    top: 20px
