.comments-sort
  position: relative
  float: right
  z-index: 10

  .comments-sort-btn
    font-size: .8em
    padding: 0 10px 0 0
    outline: none

  .caret
    right: 0
    color: inherit

  .comments-sort-dropdown
    position: absolute
    top: 100%
    right: 0
    z-index: 1
    box-shadow: 0 1px 3px rgba(#000, .12)
    background-color: #fff

    button
      display: block
      padding: .6em 1.2em
      width: 100%
      color: inherit
      white-space: nowrap
      background: 0 0
      border: 0
      font-size: .8em
      cursor: pointer
      font-weight: normal

      &:hover
        background-color: #e5e5e5
