form(action="/forgotpassword/step2", method="post")
  ul.form-errors
  .form-group
    label New Password
    input(type='password', name='password', placeholder="Password")
  .form-group
    label Re-type new password
    input(type='password', name='re_password', placeholder="Repeat Password")
  .form-group: input(type='submit', value='Reset Password!')
