p Hi #{citizenName},
p Please click <a href='#{forgotPasswordNewPasswordFormUrl}'>here</a> to reset your password.
p The DemocracyOS team.
p PS: If you haven't requested to reset your password, please ignore this email.