.comment-item
  max-width 580px
  padding 12px 10px 0px 10px
  &.spam .spam-message
    display block !important
  &:hover
    .media-heading .comment-action
      display inline-block
  &.spam
    .comment-text, .comment-actions, .link-report.flag
      display none
  &.remove
    .btn-remove
      display none
    .comment-text
      color #bdc3c7
    .remove-comment
      display block
    .comment-actions
      display none

  .pull-left
    width 46px
    margin-right 20px
    .avatar
      width 46px
      height 46px
      border-radius 100px

  .media-heading .comment-action
    margin-top 3px
    display none
    float right

  .media-body
    position relative
    min-height 76px

    .comment-edit-form
      display none

    &.edit
      .comment-body
        display none
      .comment-edit-form
        display block

  .comment-body
    .spam-message
      display none

    .comment-actions
      font-weight bold
      font-size 14px
      color #333
      vertical-align top

  .comment-counter
    margin 0px
    min-width 20px
    display inline-block

  .comment-action
    color #333
    font-size 11px
    font-weight bold
    text-decoration none
    &.vote-comment
      i
        font-weight bold
        font-size 20px
        margin-right 10px
    &.like
      &.selected, &:hover
        color green
    &.dislike
      &.selected, &:hover
        color red
    &.flag
      display none
      &.selected, &:hover
        color orange
    &.btn-remove, &.btn-reply-remove
      &:hover
        color #c0392b
    &.btn-edit, &.btn-reply-edit
      &:hover
        color #f39c12
    &.link-report,
    &.link-remove,
    &.link-edit
      float right
      color #333
      i
        margin-right 3px

  .comment-reply
    margin-top 4px
    font-size 13px
    .icon-reply
      margin-right 4px

  .comment-reply
    margin-top 4px
    font-size 13px
    .icon-reply
      margin-right 4px

  .comment-text
    color #333
    p
      margin-bottom 0
    a
      display inline-block
      margin-bottom 12px

  .oncomment,
  .onreply
    background-color rgba(249, 249, 249, 0.5)
    display none
    font-weight bold
    height 100%
    left 0
    padding-top 15px
    position absolute
    text-align center
    top 0
    width 100%

    a
      display inline-block
      margin-right 12px

    &.message
      cursor default

    .comment-action
    &.like
      &.selected, &:hover
        color green
    &.dislike
      &.selected, &:hover
        color red
    &.flag
      display none
      &.selected, &:hover
        color orange
    &.btn-remove, &.btn-reply-remove
      &:hover
        color #c0392b
    &.btn-edit, &.btn-reply-edit
      &:hover
        color #f39c12
  &.spam
    .comment-text, .comment-actions, .link-report.flag
      display:none
    .spam-message
      display:block

@media only screen and (min-width  320px) and (max-width  700px), screen and (-webkit-min-pixel-ratio  1.5), screen and (min-pixel-ratio  1.5)
  .comment-item
    .media-heading .comment-action,
    .comment-reply
        display inline-block