#profile-wrapper form .form-group
  span.error
    top 40px

  &.profile-picture
    overflow hidden
    margin-bottom 12px

    .image-container
      float left
      width 58px

      img
        border-radius 4px
        margin-right 10px

    .controls
      float right

      a
        display inline-block
        margin-bottom 12px
        text-decoration underline
        &:hover
          text-decoration underline

        ~span.error
          top 42px