#content-401
  flex 1
  background #35263a
  .container-401
    margin 100px auto 0
    max-width 400px
    width 90%
    text-align center
    h1
      font-size 20px
      color #fff
    span
      color #fff
      font-size 50px
