#user-badges-wrapper form .form-group span.error
  top: 40px
#user-badges-wrapper
  @import('../../../lib/admin/admin-permissions/add-user-input/styles')
  .user-card
    display: none
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 0 auto
    background: rgba(0,0,0,0.06)
    padding: 10px 20px
    border-radius: 3px
    margin-bottom: 10px
    .picture
      width: 40px
      height: 40px
      background-size: 40px 40px
      border-radius: 50%
    p.name
      font-weight: bold
      font-size: 14px
      margin: 0 0 0 10px
