.ext-footer
  background: #a5a7a9
  display: inline-block
  width: 100%
  padding-top: 30px
  padding-bottom: 20px

  .disclaimer
    float: left
    margin-top: -10px

    & > *
      margin: 0
      font-size: 15px
      font-weight: 100
      color: #fff

  .spacer
    margin: 0 10px

  .footer-logos
    float: right
    display: flex

  a
    display: inline-block
    background-repeat: no-repeat
    background-size: auto 28px!important
    height: 30px
    margin-left: 20px

  .democracy
    width: 160px
    background: unquote("url('/ext/lib/site/home-multiforum/democracy-logo.png')")

  .rosario
    width: 130px
    background: unquote("url('/ext/lib/site/home-multiforum/rosario-logo.png')")
