@media only screen and (max-width: 600px)
  #settings-container, #settings, #settings-content
    height auto

  #settings-container
    #settings
      border-width 0
      .sidebar-container
        display none
      .settings-content
        margin 0px auto
        & > div
          margin-bottom 30px
          padding-bottom 15px
          border-bottom 1px solid #dcdcdc
        & > .hide
          display block !important
        form
          max-width 100%
