.deleted-list
  margin-top 10px

form
  &.comment-form
    .form-submit
      float left
    .help-text
      &.form-errors
        color red
        display none
        float left
        height 32px
        line-height 32px
        margin-left 6px
    &.has-error
      .help-text
        &.form-errors
          display block