#settings
  .settings-content
    .heading
      position relative
      margin 0px
      margin-bottom 30px
  .heading
    .circle
      position absolute
      display none
      left -26px
      top -4px
      overflow hidden
      color #FFF
      width 20px
      text-align center
      font-size 20px
      i
        color #7F8C8D
    h1
      margin 0
      font-size 14px
      line-height 20px
      text-transform uppercase