#settings-container
  #settings
    .sidebar-container
      ul.settings-menu
        li.heading= t('Settings')
        li: a(href="/settings/profile")= t('Profile')
        li: a(href="/settings/password")= t('password')
        li: a(href="/settings/sessions", style="display: none;")= t('Sessions')
        li: a(href="/settings/notifications")= t('Notifications')
    .settings-content
