#settings
  .sidebar-container
    ul
      &.settings-menu
        height 100%
        margin 0
        padding 0
        text-transform uppercase
        list-style none
      li
        &.heading
          padding 40px 0 10px 20px
          color #C4C4C4
          font-weight bold
          font-size 14px
          line-height 20px
        a
          width 100%
          display inline-block
          text-decoration none
          color #3d699e
          font-size 12px
          font-weight bold
          padding 10px 20px
          text-shadow 0 1px 0 #FFF
          &.active
            box-shadow inset 5px 0px 0 #BDC3C7