#comment-replies
  ul.replies
  - if (user.id && canComment)
    form.form.reply-form(method='post', action='#')
      h5= t('comments.arguments.reply')
      textarea(name='text', rows=4, tabindex=0)
      .form-actions
        input.btn.form-submit.pull-right(type='submit', value=t('comments.send'))
        a.btn.btn-link.btn-cancel.pull-right(href='#')=t('common.cancel')
        span.form-errors