.feed-item
  background white
  margin-bottom 22px
  padding 15px
  color #333

  .feed-top
    margin -15px -15px 15px
    padding 15px 15px 0
    border-bottom 1px solid #ebebeb
    background-color #fafafa

  .feed-title
    margin 0 0 5px
    font-size 25px
    font-family 'Droid Sans'
    line-height 38px
    font-weight 400

  .feed-desc
    font-size 14px
    color #666

  .feed-subtitle
    display inline-block
    padding 0 0 3px
    border-bottom 2px solid black
    color black
    font-size 16px
    font-weight 700
    line-height 1.5
    margin 15px 0


body.deployment-new
  background #ccc

.deployment-new-form
  fieldset
    margin-top 1px
    margin-bottom 1px
    padding 10px
    background-color whitesmoke
    font-family 'Droid Sans', sans-serif
    font-size 14px

    &:last-of-type
      margin-bottom 30px

  label
    display inline-block
    float left
    margin-bottom 5px
    margin-top 0
    padding-top 0
    padding-bottom 0
    font-size 14px
    font-weight 400
    @media (min-width: 480px)
      margin-top 12px

  input[type="text"],
  .input-group
    width 100%
    @media (min-width: 480px)
      width 60%
      float right

  input[type="text"]
    display block
    height 42px
    margin-top 0px
    margin-bottom 0px
    padding 8px 12px
    border 1px solid #dedede
    border-radius 3px
    background-color white
    color black

  #hostname
    text-transform lowercase

  .input-group
    input[type="text"]:first-child
      width 100%
      border-bottom-right-radius 0
      border-top-right-radius 0

    .input-group-addon
      border-color #dedede
      background-color #fafafa


  .form-group
    margin 0

    span.error
      top 15px
      right 8px

    &.title
      @media screen and (max-width: 700px)
        .error
          top 40px

    &.subdomain
      @media screen and (max-width: 700px)
        .error
          top -21px
          right -4px
