.attrs-wrapper
  padding: 0 0 .6em
  border-bottom: 1px solid #e5e5e5
  margin: 2em 0

  legend
    margin-bottom: .5em

  .kind-boolean
    & > label
      font-size: 1em

    .attrs-title
      font-size: .875em
      font-weight: bold
      line-height: 1.6
