@import '../topic-card/styles'
.topics-grid
  .grid-bottom
    width: 100%
    text-align: center
    button
      cursor: pointer
      margin: 6px
      width: 180px
      border-radius: 5px
      padding: 0.8rem
      background-color: #1daeec
      color: #fff
      border: none
      font-size: 20px
      text-transform: uppercase
  .topics-section
    padding-bottom: 45px

    &.distrito
      background-color: #E7EBEE

  .topics-section-title
    margin-top: 0
    font-size: 24px
    font-weight: 400
    color: #F59231

  .topics-section-container
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px

    for i in (2..8)
      width = (i * 290px)
      @media (min-width: width)
        max-width: width
