.markdown-cheatsheet
  section
    margin-top: 40px

    .example-code pre
      font-size: 12px
      overflow: scroll

      code
        word-wrap: normal
        white-space: pre

    textarea
      padding: 12px
      width: 100%
      resize: none

    .result
      margin-bottom: 40px
      padding-left: 12px