.meta
  margin-bottom: 5px

.avatar
  width: 1.4em
  height: 1.4em

.name
  font-size: .75em

.options
  font-size: .7em

.valid-badge
  font-size: 10px
  margin-top: 1px

.created-at
  margin-top: 1px
