/**
 * Header
 *
 * Sorry for float's and ugly stuff, we need to be sure to show the
 * header almost on any browser
 */

.header
  position: fixed
  right: 0
  left: 0
  top: 0
  height: 54px
  padding-right: 7px
  padding-left: 7px
  z-index: 1030

  &.with-contrast
    box-shadow: 0 -1px 8px rgba(#d5d5d5, .8)

  .logo
    float: left
    margin-top: 12px
    padding: 0 7px

    .logo-mobile
      display: block

    .logo-desktop
      display: none

    img
      height 30px

    @media screen and (min-width: 560px)
      .logo-mobile
        display: none

      .logo-desktop
        display: block

  .header-items
    height: 100%
    text-align: right

  .header-item
    display: inline-block
    height: 100%
    vertical-align: top

  .header-link
    display: inline-block
    padding-left: 7px
    padding-right: 7px
    line-height: 54px
    text-transform uppercase
    color inherit
    font-size 13px

    [class*="icon-"]
      font-size 16px
      font-weight bold
      line-height inherit

  .notifications-link
    .header-link
      padding-left: 14px
      padding-right: 14px

  .org-link
    display: none

    @media screen and (min-width: 700px)
      display: inline-block

  #toggleButton
    display block
    float left
    background none
    border none
    color inherit
    padding .5rem 0
    margin-right 10px
    outline: none
    position: relative
    .icon-menu
      font-size 22px
    &:hover
      cursor: pointer
    &::before
      content: ""
      position: absolute
      top: 0
      left: -10px
      width: 40px
      height: 100%

    @media screen and (min-width: 700px)
      display none

@import './user-badge/styles'
