.commentable-section
  position relative

  &:hover
    .side-comment
      .marker
        display block

.side-comment
  position absolute
  top 0
  right 0
  width 20px
  min-height 100%
  height 100%
  font-family "Open Sans", sans-serif
  *
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
  .hide
    display none
  .marker
    display none
    position absolute
    top 0
    right 0
    cursor pointer
    span
      display none
      font-family 'Open Sans', sans-serif
  .add-comment
    display none
    &.active
      display block
  &.no-current-user
    .add-comment
      margin-top 20px
  &.has-comments
    .marker
      &:before
        content ""
      span
        display block
    .add-comment
      &.hide
        display none
    .comment-form
      display none
  .comments-wrapper
    display none
    position absolute
    top 0
    left 40px
  .comments
    list-style none
    padding 0
    margin 0
    display none
    width 100%
    li
      width 100%
      overflow hidden
  .comment-form
    overflow hidden
    &.active
      display block
  &.active
    .comments-wrapper
      display block

.side-comment.active .marker
.side-comment.has-comments .marker
.side-comment.has-comments ul.comments
  display block

.side-comment.has-comments .add-comment
.side-comment.no-current-user .add-comment
  display block

.side-comment .comment
.side-comment .comment-box
.side-comment .actions
  margin 0

@media (max-width: 768px)
  body
    -webkit-overflow-scrolling touch
    overflow-x hidden

@import './theme'