#tags-wrapper
  .well.well-lg.clearfix
    .col-xs-12.col-md-2
      a.btn.btn-success.btn-block.new(href=urlBuilder.for('admin.tags.create', {forum: forum.name}))
        span.glyphicon.glyphicon-plus
        = ' ' + t('admin-tags.list.add-tag')
    .col-xs-12.col-md-7.col-md-offset-3
      .input-group.input-group-md
        span.input-group-addon
          i.glyphicon.glyphicon-search
        input.form-control.search(type='text', maxlength='50' placeholder='#{t("admin-tags.list.search.placeholder")}', autofocus)
    .col-md-3
  .list.list-group
    - each tag in tags
      a.list-group-item(href=urlBuilder.for('admin.tags.id', {id: tag.id, forum: forum.name}))
        span.tag-title= tag.name
