/* Sidebar
-------------------------------------------------- */
aside.nav-proposal
  position relative!important
  min-width 266px
  margin-top 0
  top 0
  left 0
  bottom 0
  overflow-y scroll
  background #f0f0f0
  z-index 10

/* Sidebar dropdown-department
-------------------------------------------------- */
.proposal-type
  position absolute
  left 14px
  top 20px
  background #F1C42E
  color white
  border-radius 100px
  padding 10px
  line-height 10px
  &.proposal-type-2
    background-color #E67E22

#sidebar
  @import './filter/styles'
  @import './list/styles'
