#help-container
  #help
    .sidebar-container
      ul.help-menu
        li.heading= t('help.title')
        li: a(href="/help/faq")= t('help.faq.title')
        li: a(href="/help/terms-of-service")= t('help.tos.title')
        li: a(href="/help/privacy-policy")= t('help.pp.title')
        li: a(href="/help/markdown")= t('help.markdown.title')
    .help-content
