#help-container
  #help
    .sidebar-container
      ul.help-menu
        li.heading= t('Help')
        li: a(href="/help/faq")= t('FAQ')
        li: a(href="/help/terms-of-service")= t('Terms of Service')
        li: a(href="/help/privacy-policy")= t('Privacy Policy')
    .help-content
