.user-badge
  position: relative
  .btn
    color: white
    height: 60px
    border-radius: 0
    background: none
    padding: 13px 12px
    &:focus
      outline: 0
    .caret
      margin-left: 6px

  .dropdown-menu
    left: auto
    right: 0
    a
      color: black
      text-transform: none
      font-weight: bold
      padding: 10px 20px
      display: block
      &:hover
        background: #2c3e50
        color: white

  &.open
    .btn
      background: rgba(0,0,0,.1)
    .dropdown-toggle
      box-shadow: none

  .profile
    img
      width: 32px
      border-radius: 100px
    span.name
      display: inline
      margin-left: 10px
      font-weight: bold
      font-size: 12px
      line-height: 20px
      padding-top: 4px
      padding-right: 12px
      max-width: 150px
    .caret
      margin-top: -3px