.user-wrapper
  .notifications-badge.pull-left.hidden-xs
    a.btn.notifications(href='/notifications')
      span.icon-bell.bell
  .user-badge.pull-right
    a.btn.profile
      img(src=user.profilePicture())
      - var color = config.headerFontColor
      span.name.ellipsis(style=color ? 'color: #{color}' : '')=user.firstName
      span.caret
    ul.dropdown-list
      - if (config.multiForum)
        li: a(href='/settings/forums')= t('header.forums')
      - else
        - if (user.staff)
          li: a(href='/admin')= t('header.admin')
      li.visible-xs
        a(href='/Notifications')=t('notifications.title')
      li: a(href='/settings')= t('header.settings')
      - if (config.frequentlyAskedQuestions)
        li: a(href="/help/faq")= t('help.faq.title')
      - if (config.termsOfService)
        li: a(href="/help/terms-of-service")= t('help.tos.title')
      - if (config.privacyPolicy)
        li: a(href="/help/privacy-policy")= t('help.pp.title')
      - if (config.glossary)
        li: a(href="/help/glossary")= t('help.glossary.title')
      li: a(href='/logout')= t('header.logout')
