#signup-container
  flex 1
  display flex
  justify-content center
  overflow auto
  #signup-form
    max-width 300px
    width 90%
    form
      .form-group
        label
          display block
        p
          &.help-block
            a
              display inline-block
        ul
          padding 0
          list-style none
