border_radius = 2px

.inner-container
  padding-left 20px
  padding-right 20px
  margin: 2em auto 0;
  width 100%
  min-height: 300px;
  @import './header/styles'
  @import './content/styles'
  @import './footer/styles'
  @import './decision-maker/styles'

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none
