border_radius = 2px

.topic-article-wrapper
  padding 0 20px
  height 100%
  overflow auto
  flex 1
  margin 0 auto
  max-width 750px
  width 80%
  @import './header/styles'
  @import './content/styles'
  @import './footer/styles'
  @import './decision-maker/styles'

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border none
