/* Vars
-------------------------------------------------- */
violet = rgb(100, 71, 110)

.topics-slider {
  .input-great-labels {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
  }
  .input-small-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .input-small-wrapper {
      width: 48%;
      display: flex;
      justify-content: space-between;

      .input-small-label {
        width: 50px;
        max-width: 50px;
        text-align: center;

        span {
          font-size: 12px;
          width: 50px;
          max-width: 50px;
        }
      }
    }
  }

  .input-range {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .input-range__slider {
    appearance: none;
    background: #3995D6;
    border: 1px solid #3995D6;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem;
  }

  .input-range__slider:active {
    transform: scale(1.3);
  }

  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
  }

  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
  }

  .input-range__slider-container {
    transition: left 0.3s ease-out;
  }

  .input-range__label {
    color: #aaaaaa;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
  }

  .input-range__label--value {
    margin-left: -20px;
  }

  .input-range__label--min,
  .input-range__label--max {
    display: none;
    bottom: -1.4rem;
    position: absolute;
  }

  .input-range__label--min {
    left: 0;
    font-weight: bold;
  }

  .input-range__label--max {
    right: 0;
    font-weight: bold;
  }

  .input-range__label--value {
    position: absolute;
    top: -1.8rem;
  }

  .input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out;
  }

  .input-range--disabled .input-range__track {
    background: #eeeeee;
  }

  .input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
  }

  .input-range__track--active {
    background: violet;
  }

  .input-range {
    height: 1rem;
    position: relative;
    width: 100%;
  }

  .row-slider-labels {
    margin-top: 35px;
    margin-bottom: 80px;

    p {
      font-weight: bold;
    }
  }

  .voted-box, .vote-box {
    text-align: center;
    margin-bottom: 20px;
  }

  .voted-box {
    margin-top: 100px;
    margin-bottom: 30px;

    .alert-voted {
      display: flex
      justify-content: center
      align-items: center
      
      .bold {
        font-weight: bold
      }
      .black {
        color: #000
      }
      .thanks {
        margin: 0 10px
      }
    }
  }

  .row-result {
    margin: 25px;
    box-shadow: 3px 2px 6px 1px rgba(0,0,0,0.23);
  }

  .VictoryContainer {
    height: 400px !important;
  }
}

.topics-slider.neutral {
  .input-range__track--active {
    background-color: #eee;
  }
  .input-range__label-container {
    display: none
  }
}

.topics-slider.positive {
  .input-range__track--active {
    background-color: #3995D6;
  }
}

.topics-slider.negative {
  .input-range__slider {
    background: violet;
    border: 1px solid violet;
  }

  .input-range__track--active {
    background-color: violet;
  }
}