.newsfeed-page
  - if (user.logged())
    div(data-forum-info)
  - else
    .forum-info
      .cover
        .content
          h1= t('newsfeed.welcome.title')
          p= t('newsfeed.welcome.body')
          a.btn.btn-default(href="/signin")
            = t('newsfeed.welcome.join')
            i.icon-arrow-right
  .content
    .title
      h2= t('newsfeed.title')
    section(data-forums)
    .forum-pagination(data-pagination)
      button.btn.btn-block.msg-more(type="button")
        = t('newsfeed.button.load-more')
      p.msg-empty= t('newsfeed.nothing-to-show')
      .loader
