#admin-container
  padding 1em 0

  #admin
    position relative
    min-height 100%
    margin 0px auto

    input[type='submit'].btn
      font-weight normal

    label
      margin-bottom: .3em
      line-height: 1

  button.sort
    margin-left 5px

  span.sort-label
    margin-right 5px

@import './wrappers'
@import './heading'
