.topics-admin
  .list-group
    padding-left 0
    padding-right 0

#topics-wrapper .topics-admin > ul
#tags-wrapper .tags-admin > ul
  list-style none
  margin 0px
  padding 0px

  li
    height 35px
    line-height 35px
    overflow hidden
    position relative
    margin 10px 0px
    padding 0 0 0px 5px

    a
      display block
      width 100%
      height 100%
      margin 0
      color #333
      font-weight normal

#topics-wrapper
  .list
    h4
      margin-top 3px

      small
        margin-left 10px

    a
      padding 15 15

      span.text
        font-weight normal
        margin-left 5px
        margin-right 10px

      &:hover
        color black

    .delete-topic
      background transparent