.topic-article-header
  position relative
  padding-top: 2em

  h1
    font-size 2em
    margin 0

  h4
    text-align center
    margin 35px 0 0 0
    text-transform uppercase
    font-size 11px

  h2.author
    color #666
    font-size 16px
    font-weight normal
    margin 1em 0 0

  .meta-information
    margin-bottom 10px
    color #666
    font-size 16px

    .icon-clock
      margin-right 6px
      font-size 13px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

  .topic-tags
    margin: 0
    a
      background: #a5a5a5
      padding: 0px 8px 1px
      margin: 5px 5px 0 0
      display: inline-block
      border-radius: 10px
      color: #fff
      font-size: 12px
      font-weight: 400
      &:hover
        text-decoration: none
@media screen and (max-width: 1157px)
  .entry-tag
    display none
