header
  margin-top 30px
  position relative
  
  h1
    margin-top 0

  .entry-tag
    position absolute
    top 50px
    transform unquote("translate3d(-150%,0,0)")
    .tag-image-wrapper
      position relative
      width 80px
      display flex
      justify-content center
      align-items center
      .tag-image
        z-index 1
        position relative
        width 34px
        height 34px
      .hexagon
        position absolute
        left 0
        top -18px
        z-index 0
        width 80px
        max-width none
        height 80px
    h4
      text-align center
      margin 35px 0 0 0
      text-transform uppercase
      font-size 11px


  h2.author
    color #666
    font-size 16px
    font-weight normal
    margin 0

  .meta-information
    margin-bottom 10px
    color #666
    font-size 16px

    .icon-clock
      margin-right 6px
      font-size 13px

    .meta-timeago,
    .meta-timeago-label
      display inline-block

    .label
      display inline-block
      margin-right 10px
      border-radius 0

@media screen and (max-width: 1157px)
  .entry-tag
    display none
