- if (forum)
  a.btn.btn-link.go-to-forum.pull-right(href=forum.url)
    span= forum.title + ' '
    i.glyphicon.glyphicon-menu-right
  a.btn.btn-link.go-to-forum.pull-right(href='#{forum.url}/admin')
    i.glyphicon.glyphicon-cog
- else
  a.btn.purple.pull-right(href='/forums/new')
    =t('feed.call-to-action.start-a-forum')
