.forum-info
  - if (forum)
    .content.manage
      p
        a(href='/settings/forums')
          = t('newsfeed.call-to-action.manage-forums')
          i.glyphicon.glyphicon-menu-right
  - else
    .cover
      .content
        h1= t('newsfeed.welcome.title')
        p= t('newsfeed.welcome.body')
        a.btn.btn-white(href="/forums/new")
          = t('newsfeed.call-to-action.start-a-forum')
          i.glyphicon.glyphicon-chevron-right
