body.newsfeed #content
  background #ccc

.newsfeeds
  color #000
  padding-bottom 40px

  .forum-card
    display block
    padding 40px 20px
    color #f5f5f5
    margin-bottom 20px
    overflow hidden

    &:hover
      text-decoration none

      h1
        text-decoration underline

    h1
      margin-top 0
      color #f5f5f5

  .loading-container
    display block
    height 80px

    .lock-spinner
      background-color transparent

  .newsfeed
    background white
    margin-bottom 22px
    padding 10px
    overflow hidden

    section
      margin-top 12px

    footer
      margin-top 12px

    .profile
      margin-left 3px

      img
        width 50px
        border-radius 100px

      span.name
        display inline
        margin-left 10px
        font-weight bold
        font-size 12px
        line-height 20px
        padding-top 4px
        padding-right 12px
        max-width 150px

    .name
      height 50px
      line-height 50px
      margin-left 12px
      color #40a660
      font-family 'Open Sans', sans-serif
      font-size 12px
      font-weight 100

    .btn
      height 50px
      line-height 48px
      padding 0 12px
      font-weight 900
      font-size 16px

    .btn
      color #fff
      font-weight bold
      padding 0 12px
      text-transform uppercase

      &.go-to-forum
        color #337ab7

        i.glyphicon-cog
          margin-top 16px

    .purple
      background-color #8156a6
      border-color #a573d1
      color #fff
      font-weight bold

      &:hover
        background-color #a573d1
        color #fff
      & + .arrow-down
        border-top-color #8156a6
