#forgot-form
  max-width 350px
  width 90%
  .success-message
    background #afffaf
    color #555
    padding 10px 20px
  .explanation-message
    background #f3f3f3
    padding 10px 20px
    color #555