p Hola, USER_NAME,
p Por favor <a href="RESET_PASSWORD_URL">cliquea aquí</a> para reestablecer tu contraseña
p Rosario Participa
p P.D.: si no solicitaste reestablecer tu contraseña, por favor ignora este correo
