p #{t('templates.email.greeting')}
p Hemos recibido su solicitud para sumarse al portal de participación de la Municipalidad de Rosario.
p !{t('templates.welcome-email.body')}
p #{t('templates.email.signature')}
p #{t('templates.welcome-email.ps')}
