html
  head
    meta(property='og:title', content='Partido de la Red')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://#{baseUrl}')
    meta(property='og:image', content='http://s3.amazonaws.com/pdr-mediawiki/images/8/84/Pdr_200x200.png')
    meta(property='og:site_name', content='Partido de la Red')
    meta(property='og:description', content='Sistema de votaci&oacute;n del Partido de la Red')
